/**
 * $width-small and up
 */


body {

  // Files
  &.section-files {
    #page-header h1 a,
    #sidebar-first {
      width: $width-sidebar-first * 1.5;
    }
    #main {
      margin-left: ($width-sidebar-first * 1.5)+ $width-header;
    }
  }

  &.home {
    $home-width: $width-sidebar-second + 300;
    #sidebar-second {
      width: $home-width;
    }
    #content {
      margin-right: $home-width;
    }
    #search-box {
      right: $home-width;
    }
  }

  #sidebar-second {
    width: $width-sidebar-second;
  }

  #content {
    margin-right: $width-sidebar-second;
  }

  //notify
  #notify {
    width: $width-sidebar-second;
    &.hidden {
      right: -$width-sidebar-second;
    }
  }

  #page-header {
    .album-actions-wrapper {
      right: $width-sidebar-second + 265;
    }
    h1 a {
      width: $width-sidebar-first-region;
    }
  }

  #footer,
  #browser-player-footer {
    .footer-right,
    .volume-wrapper,
    .footer-right .actions-wrapper {
      width: $width-sidebar-second;
    }
    .footer-left {
      width: $width-sidebar-first;
    }
    #time,
    #browser-time {
      right: $width-sidebar-second + 10px;
    }
    #now-playing,
    #browser-now-playing {
      margin-right: $width-sidebar-second + 70;
      margin-left: $width-sidebar-first;
    }
    .progress-wrapper {
      left: $width-sidebar-first + $height-footer;
      right: $width-sidebar-second;
    }
  }

  #sidebar-first {
    width: $width-sidebar-first - $width-header;

    ul.artist-thumbs-up,
    ul.album-list-small,
    ul.artist-search-list,
    ul.artist-list {
      li {
        a {
          &.active {
            .play-artist,
            .image {
              width: 120px;
              height: 110px;
            }
            .artist-meta {
              display: block;
            }
          }
        }
      }
    }
  }

  #main {
    margin-left: $width-sidebar-first;
  }

  #search-box {
    right: $width-sidebar-second;
    #search {
      width: 200px;
    }
  }

  .sidebar-pane {
    padding: 10px;
  }
}