

// colors
$color-header: rgba(235, 236, 236, 0.4);
$color-mist: #EEE;
$color-header-mid: #9AA4AF;
$color-concrete: rgba(100, 100, 100, 0.28);
$color-asbestos: #6E7374;
$color-clouds: #EEEFF0;
$color-silver: #BDC3C7;
$color-whitesmoke: #f7f7f7;
$color-slate: #2b2f30;
$color-light-slate: #6c7374;
$color-light-slate: #3b3f40;
$color-wet-asphalt: #34495E;
$color-midnight-blue: #2C3E50;
$color-orange: #F39C12;
$color-carrot: #E67E22;
$color-green-sea: #16A085;
$color-pastel-orange: #FFD786;
// invert/active
$color-invert-bg: #999EA0;
$color-invert-text: $color-whitesmoke;

// trans
$color-trans-light: rgba(196, 196, 196, 0.48);
$color-trans-white: rgba(246, 246, 246, 0.82);

// lines
$line-dotted: 1px dotted rgba(70, 70, 70, 0.11);

// playing colours
$playing-xbmc: $color-carrot;
$playing-local: #2BA5CC;

$color-darkest-xbmc: $color-slate;
$color-dark-xbmc: $color-slate;

$color-darkest-local: #7F8486;
$color-dark-local: #6C6F6F;


//sizing (breakpoints)
$width-mobile: 500px;
$width-tablet: 800px;
$width-small: 1360px;
$width-large: 1700px;

// layout
$height-logo: 105px;
$height-header: 50px;
$height-footer: 70px;
$width-header: 50px;

$width-sidebar-first-region: 280px;
$width-sidebar-first: $width-sidebar-first-region + $width-header;
$width-sidebar-first-small: 230px;
$width-sidebar-first-large: 400px;

$width-sidebar-second:360px;
$width-sidebar-second-small:260px;

$mini-img-width: 60px;

// cards
$card-gutter: 5px 10px;
$card-small-width: 163px;
$card-small-height: 235px;
$card-small-image-height: 163px;
$card-large-width: 200px;
$card-large-height: 170px;
$card-large-image-height: 160px;



//imports
@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "breakpoint";
@import "singularitygs";



