/* Album list */
$album-tracks-width: auto;
$album-meta-width: 170px;
$album-margin-right: $album-meta-width + 10;

.album-list {
  padding: 0 5px;
}

/* Album */
.album-row {
  clear: both;
  padding: 10px 5px;
  overflow-y: hidden;
  .album-title {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    width: auto;
    @include box-sizing(border-box);
    background: #F8F8F8;
    position: relative;
    margin-right: $album-margin-right;
    a {
      color: $color-asbestos;
    }
  }
  .album-info {
    float: right;
    width: $album-meta-width;
    padding-bottom: 10px;
    color: $color-asbestos;
    .image,
    .card {
      display: block;
      width: $album-meta-width;
      margin: 0;
      padding: 0;
    }
    .details {
      display: none;
    }
  }
  .tracks {
    float: none;
    width: auto;
    margin-right: $album-margin-right;
  }
}

// page
.album-page {
  .album-row {
    .album-title {
      position: relative;
      margin: -53px 15px 0 0;
      background: none;
      float: right;
      z-index: 20;
      width: 165px;
      .album-title-link {
        display: none; // both shown elsewhere
      }
      .album-actions-wrapper {
        display: block;
        .thumbs-up .icon-thumbs-up {
          color: #fff;
        }
      }
    }
  }
}

/* landing page (freewall) **/
.album-list-landing,
.album-generic-list,
.rand-list {
  @include box-sizing(border-box);
  padding: 10px 10px 10px;
  margin: 3px 0 5px 5px;
  &:after {
    content: "";
    clear: both;
    height: 10px;
    width: 100%;
  }
}

// albums list
.album-list-landing {
  li.has-thumb { // only items with thumbs get enlarged
    // set a few as large @todo move to js
    &:nth-child(8),
    &:nth-child(18),
    &:nth-child(25),
    &:first-child {
      @include card('large');
    }
  }
}


