
// Most styles are shared between the browser footer and the xbmc footer

// Positioning
#footer,
#browser-player-footer {
  background: $color-slate;
  height: $height-footer;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  .footer-right,
  .footer-left {
    width: $width-sidebar-second-small;
    height: $height-footer;
    float: left;
    background: $color-light-slate;
    .player-button {
      width: 33.33%;
      @include box-sizing(border-box);
      padding: 19px 0;
      font-size: 1.8em;
      float: left;
      text-align: center;
      color: #979EA0;
      cursor: pointer;
      &:hover {
        color: $color-mist;
      }
      &.player-play {
        font-size: 2em;
        padding: 17px 0;
      }
    }
  }
  .footer-right {
    float: right;
    width: $width-sidebar-second-small;
    .actions-wrapper {
      position: absolute;
      right: 0px;
      top: 25px;
      text-align: right;
      width: $width-sidebar-second-small;
      .player-button {
        font-size: 2em;
        padding: 3px 0;
        width: 25%;
        float: left;
        .fa-volume-up {
          display: none;
        }
      }
    }
  }
  .volume-wrapper,
  .progress-wrapper {
    background: rgba(0,0,0,0.1);
    position: absolute;
    left: $width-sidebar-second-small + $height-footer;
    right: $width-sidebar-second-small;
    top: 0;
    height: 20px;
    overflow: hidden;
  }
  .volume-wrapper {
    right: 0;
    left: auto;
    width: $width-sidebar-second-small;
  }
  #time,
  #browser-time {
    position: absolute;
    margin-top: 25px;
    right: $width-sidebar-second-small + 10px;
    top: 0;
    font-weight: bold;
    text-align: right;
    .time-cur {
      display: block;
      color: #fff;
      font-size: 15px;
      height: 20px;
    }
    .time-total {
      font-size: 12px;
    }
  }
}

// Now Playing
#now-playing,
#browser-now-playing {
  font-size: 12px;
  margin-right: $width-sidebar-second-small + 70;
  margin-left: $width-sidebar-second-small;
  padding-top: 1px;
  .song-image {
    width: $height-footer;
    height: $height-footer;
    margin-right: 10px;
    overflow: hidden;
    float: left;
    margin-top: -1px;
    background-size: cover;
    img {
      height: $height-footer;
      display: block;
    }
  }
  .playing-song-title,
  .browser-playing-song-title {
    color: #fff;
    font-size: 15px;
    display: block;
    margin-top: 25px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
  }
  .song-artist {
    color: #ddd;
  }
}

// Volume bar
#volume,
#progress-bar,
#browser-volume,
#browser-progress-bar {
  &.ui-slider {
    @include border-radius(0);
    height: 20px;
    border: none;
    background: none;
    .ui-slider-range {
      @include border-radius(0);
      @include transition(0.3s all linear);
      background: rgba(208, 210, 213, 0.21);

    }
    .ui-slider-handle {
      @include border-radius(0);
      @include transition(0.3s all linear);
      top: 0;
      margin-left: -0.4em;
      background: rgba(208, 210, 213, 0.5);
      width: 0.8em;
      border: 0;
      cursor: pointer;
      display: none;
    }
    &:hover {
      .ui-slider-handle {
        display: block;
        background: $playing-xbmc;
      }
    }
  }

}


// hide broswer footer by default
#browser-player-footer {
  display: none;
  background: $color-darkest-local;
  .fa-pause {
    display: none;
  }
  .footer-left,
  .footer-right {
    background: $color-dark-local;
  }
  #browser-volume .ui-slider-range,
  #browser-progress-bar.ui-slider .ui-slider-range {
    background: rgba(237, 238, 240, 0.78);
  }

  #browser-volume.ui-slider:hover .ui-slider-handle,
  #browser-progress-bar.ui-slider:hover .ui-slider-handle {
    background: $playing-local;
  }
}

body {
  // not connected! using a few importants to force this state
  &.notconnected {
    #header #logo {
      background: #7a1f11;
      border-bottom-color: #511e14 !important;
    }
    .track.playing-row {
      background-image: url(../images/icons/row-pause.png) !important;
    }
  }
  // xbmc player
  .player-play .fa-pause {
    display: none;
    margin-top: 3px;
  }
  &.paused,
  &.playing {
    .playing-row {
      //background: $color-clouds;
      .song-tracknum {
        //eq level display playing
        background: url(../images/row-playing.gif) 50% 50% no-repeat;
        text-indent: -999999px;
      }
    }
  }
  // xbmc is playing
  &.playing {
    .player-play {
      .fa-pause {
        display: block;
      }
      .fa-play {
        display: none;
      }
    }
    #sidebar-second .sidebar-header .playlist-primary-tabs li.xbmc-tab i {
      color: $playing-xbmc;
      display: none;
      &.fa-play {
        display: inline;
      }
    }
    #header #logo {
      border-bottom-color: $playing-xbmc;
    }
    #progress-bar {
      &.ui-slider {
        .ui-slider-range {
          background: rgba(228, 229, 230, 0.79);
        }
      }
    }
  }
  // xbmc pause
  &.paused {
    //eq level display paused (quiet)
    .playing-row {
      .song-tracknum {
        background: url(../images/icons/row-pause.png) 50% 50% no-repeat;
      }
    }
    ul.playlist {
      .playing-row {
        background-image: url(../images/icons/row-pause.png);
      }
    }
  }
  // nothing playing
  &.notPlaying {

  }

  &.browser-playing {

  }

  &.muted {
    #footer .footer-right .actions-wrapper {
      .fa-volume-up {
        display: block;
      }
      .fa-volume-down {
        display: none;
      }
    }
  }

  &.random-on {
    #footer .footer-right .actions-wrapper {
      .player-random {
        color: #fff;
      }
    }
  }

  &.repeat-all {
    #footer .footer-right .actions-wrapper {
      .player-repeat {
        color: #fff;
      }
    }
  }

  &.repeat-one {
    #footer .footer-right .actions-wrapper {
      .player-repeat {
        color: #ddd;
      }
    }
    div.playlist-item.playing-row {
      .repeating {
        display: block;
      }
    }
  }


  // local body
  &.player-view-local {
    #footer {
      display: none;
    }
    #browser-player-footer {
      display: block;
    }
    #logo {
      background: $color-carrot;
    }
    #header {
      #logo {
        background:  $color-darkest-local;
        border-bottom-color: $color-darkest-local;
      }
    }
    #sidebar-second {
      .sidebar-header {
        background: $color-dark-local;
      }
    }
    #page-header {
      background: rgba(72, 78, 80, 0.84);
    }
    &.fixed-header #page-header {
      background: rgba(72, 78, 80, 0.97);
    }
  }

  // browser playing
  &.browser-playing {
    // sidebar playing row
    .browser-playlist-song-list div.playlist-item.browser-playing-row {
      background-image: url(../images/row-playing.gif);
    }
    // footer play/pause
    #browser-player-footer .footer-left {
      .fa-play {
        display: none;
      }
      .fa-pause {
        display: inline;
      }
    }
    #sidebar-second .sidebar-header .playlist-primary-tabs li.local-tab i {
      color: $playing-local;
      display: none;
      &.fa-play {
        display: inline;
      }
    }
    #header #logo {
      border-bottom-color: $playing-local;
    }
  }

  // browser rand / repeat
  &.bp-random-on {
    #browser-player-footer .footer-right .browser-player-random {
      color: #EDEFF0;
    }
  }
  &.bp-repeat-all {
    #browser-player-footer .footer-right .browser-player-repeat {
      color: #EDEFF0;
    }
  }
  &.bp-repeat-one {
    #browser-player-footer .footer-right .browser-player-repeat {
      color: #DBDBDB;
    }
  }
  &.bp-mute {
    #browser-player-footer .footer-right .actions-wrapper .browser-player-mute {
      .fa-volume-down {
        display: none;
      }
      .fa-volume-up {
        display: inline;
        color: #eee;
      }
    }
  }


}