/* line 35, ../sass/page.scss */
div, header, footer, a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 38, ../sass/page.scss */
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 43, ../sass/page.scss */
html {
  overflow-y: scroll;
}

/* line 46, ../sass/page.scss */
.loading-box {
  font-size: 30px;
  color: #6e7374;
  background: #f7f7f7;
  padding: 20px 10px;
  width: 70%;
  margin: 80px auto 0 auto;
  text-align: center;
}

/* line 56, ../sass/page.scss */
.jspContainer:focus {
  outline: none;
}

/* line 59, ../sass/page.scss */
.jspVerticalBar {
  width: 20px;
}
/* line 61, ../sass/page.scss */
.jspVerticalBar .jspTrack {
  background: #d7d8d8;
}
/* line 64, ../sass/page.scss */
.jspVerticalBar .jspDrag {
  background: #acaeaf;
}

/* line 71, ../sass/page.scss */
#header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 70px;
  width: 50px;
  background: #d7d8d8;
  z-index: 5;
}
/* line 81, ../sass/page.scss */
#header #logo {
  width: 50px;
  height: 105px;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  display: block;
  font-size: 20px;
  background: #3b3f40;
  text-decoration: none;
}
/* line 92, ../sass/page.scss */
#header #logo span {
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -moz-transform: rotate(270deg);
  /* moz */
  -webkit-transform: rotate(270deg);
  /* Safari and Chrome */
  transform: rotate(270deg);
  margin-top: 43px;
  padding-top: 20px;
  display: block;
  font-family: helmet, helvetica, arial, san-serif;
}
/* line 104, ../sass/page.scss */
#header .mainnav {
  margin-top: 115px;
  width: 50px;
}
/* line 108, ../sass/page.scss */
#header .mainnav ul li {
  text-align: center;
  font-size: 26px;
}
/* line 111, ../sass/page.scss */
#header .mainnav ul li a {
  color: #acaeaf;
  display: block;
  padding: 12px 0;
}
/* line 115, ../sass/page.scss */
#header .mainnav ul li a:hover {
  color: #6e7374;
}
/* line 120, ../sass/page.scss */
#header .mainnav ul li.active a {
  color: #2b2f30;
}

/* line 129, ../sass/page.scss */
#main {
  margin-left: 310px;
  margin-top: 50px;
  padding-bottom: 70px;
}

/* line 135, ../sass/page.scss */
#content {
  padding: 0;
  margin-right: 360px;
}

/* line 139, ../sass/page.scss */
#page-header {
  background: rgba(235, 236, 236, 0.84);
  color: #6e7374;
  height: 50px;
  position: fixed;
  left: 50px;
  top: 0;
  right: 0;
  z-index: 2;
}
/* line 149, ../sass/page.scss */
#page-header h1 {
  font-weight: normal;
  margin: 0px;
  color: #2b2f30;
  font-size: 22px;
  line-height: 50px;
  padding-left: 10px;
}
/* line 157, ../sass/page.scss */
#page-header h1 a {
  color: #acaeaf;
  display: block;
  float: left;
  width: 290px;
  margin-right: 20px;
  height: 50px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
/* line 167, ../sass/page.scss */
#page-header h1 a:hover {
  color: #2b2f30;
}

/* line 175, ../sass/page.scss */
#footer {
  background: #2b2f30;
  height: 70px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
/* line 184, ../sass/page.scss */
#footer .footer-right,
#footer .footer-left {
  width: 310px;
  height: 70px;
  float: left;
  background: #3b3f40;
}
/* line 189, ../sass/page.scss */
#footer .footer-right .player-button,
#footer .footer-left .player-button {
  width: 33.33%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 0;
  font-size: 2.1em;
  float: left;
  text-align: center;
  color: #979EA0;
  cursor: pointer;
}
/* line 198, ../sass/page.scss */
#footer .footer-right .player-button:hover,
#footer .footer-left .player-button:hover {
  color: #acaeaf;
}
/* line 201, ../sass/page.scss */
#footer .footer-right .player-button.player-play,
#footer .footer-left .player-button.player-play {
  font-size: 2.9em;
  padding: 8px 0;
}
/* line 207, ../sass/page.scss */
#footer .footer-right {
  float: right;
  width: 360px;
}
/* line 210, ../sass/page.scss */
#footer .footer-right .actions-wrapper {
  position: absolute;
  right: 0px;
  top: 25px;
  text-align: right;
  width: 360px;
}
/* line 216, ../sass/page.scss */
#footer .footer-right .actions-wrapper .player-button {
  font-size: 2em;
  padding: 3px 0;
  width: 25%;
  float: left;
}
/* line 225, ../sass/page.scss */
#footer .volume-wrapper,
#footer .progress-wrapper {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 380px;
  right: 360px;
  top: 0;
  height: 20px;
  overflow: hidden;
}
/* line 234, ../sass/page.scss */
#footer .volume-wrapper {
  right: 0;
  left: auto;
  width: 360px;
}
/* line 239, ../sass/page.scss */
#footer #time {
  position: absolute;
  margin-top: 25px;
  right: 370px;
  top: 0;
  font-weight: bold;
  text-align: right;
}
/* line 246, ../sass/page.scss */
#footer #time .time-cur {
  display: block;
  color: #fff;
  font-size: 15px;
  height: 20px;
}
/* line 252, ../sass/page.scss */
#footer #time .time-total {
  font-size: 12px;
}

/* line 258, ../sass/page.scss */
#now-playing {
  font-size: 12px;
  width: 310px;
  margin-left: 310px;
  padding-top: 1px;
}
/* line 263, ../sass/page.scss */
#now-playing .song-image {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  overflow: hidden;
  float: left;
  margin-top: -1px;
}
/* line 270, ../sass/page.scss */
#now-playing .song-image img {
  height: 70px;
  display: block;
}
/* line 275, ../sass/page.scss */
#now-playing .playing-song-title {
  color: #fff;
  font-size: 15px;
  display: block;
  margin-top: 25px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
}
/* line 284, ../sass/page.scss */
#now-playing .song-artist {
  color: #ddd;
}

/* line 290, ../sass/page.scss */
#volume.ui-slider,
#progress-bar.ui-slider {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  height: 20px;
  border: none;
  background: none;
}
/* line 295, ../sass/page.scss */
#volume.ui-slider .ui-slider-range,
#progress-bar.ui-slider .ui-slider-range {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
  background: rgba(208, 210, 213, 0.21);
}
/* line 301, ../sass/page.scss */
#volume.ui-slider .ui-slider-handle,
#progress-bar.ui-slider .ui-slider-handle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
  top: 0;
  margin-left: -0.4em;
  background: rgba(208, 210, 213, 0.5);
  width: 0.8em;
  border: 0;
  cursor: pointer;
  display: none;
}
/* line 313, ../sass/page.scss */
#volume.ui-slider:hover .ui-slider-handle,
#progress-bar.ui-slider:hover .ui-slider-handle {
  display: block;
  background: #f39c12;
}

/* line 328, ../sass/page.scss */
body.playing #progress-bar.ui-slider .ui-slider-range {
  background: rgba(208, 210, 213, 0.5);
}

/* line 337, ../sass/page.scss */
#sidebar-first {
  width: 260px;
  background: #f9f9f9;
  position: fixed;
  top: 50px;
  left: 50px;
  bottom: 70px;
  z-index: 0;
}
/* line 345, ../sass/page.scss */
#sidebar-first .artist-list {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

/* line 356, ../sass/page.scss */
body.no-sidebar #sidebar-first {
  display: none;
}

/* line 361, ../sass/page.scss */
#sidebar-second {
  width: 360px;
  background: rgba(224, 224, 224, 0.75);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
/* line 369, ../sass/page.scss */
#sidebar-second .sidebar-header {
  height: 50px;
  background: #3b3f40;
  overflow-y: auto;
}

/* line 378, ../sass/page.scss */
body.home #sidebar-second {
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -ms-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
  background: rgba(235, 236, 236, 0.84);
  width: 560px;
}
/* line 387, ../sass/page.scss */
body.home #search-box {
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -ms-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
  right: 560px;
}
/* line 390, ../sass/page.scss */
body.home #search-box #search {
  background: rgba(255, 255, 255, 0.5);
}
/* line 393, ../sass/page.scss */
body.home #search-box #search:hover, body.home #search-box #search:focus {
  color: #6e7374;
  background: rgba(255, 255, 255, 0.8);
}
/* line 399, ../sass/page.scss */
body.home #header {
  background: rgba(235, 236, 236, 0.84);
}
/* line 402, ../sass/page.scss */
body.home #page-header {
  background: none;
}

/* line 407, ../sass/page.scss */
#search-box {
  position: absolute;
  top: 0;
  right: 360px;
  display: none;
}
/* line 412, ../sass/page.scss */
#search-box #search {
  border: none;
  height: 30px;
  padding: 10px;
  font-size: 18px;
  color: #bbb;
  width: 200px;
  outline: none;
  background: rgba(255, 255, 255, 0.27);
}
/* line 422, ../sass/page.scss */
#search-box #search:hover, #search-box #search:focus {
  color: #6e7374;
  background: rgba(255, 255, 255, 0.47);
}

/* line 429, ../sass/page.scss */
.artists-ready #search-box {
  display: block;
}

/* line 434, ../sass/page.scss */
body {
  color: #2b2f30;
  font-size: 13px;
  background: #FCFCFC;
}

/* line 439, ../sass/page.scss */
a {
  text-decoration: none;
}

/* line 442, ../sass/page.scss */
h2, h3, h4 {
  font-weight: normal;
  margin: 15px 0 10px;
  line-height: 1.2;
  font-size: 22px;
}

/* line 448, ../sass/page.scss */
h3 {
  line-height: 1.3;
  font-size: 19px;
}

/* line 452, ../sass/page.scss */
h4 {
  font-weight: bold;
  line-height: 1.4;
  font-size: 16px;
}

/* line 457, ../sass/page.scss */
.text-copy {
  margin: 15px 10px;
  font-size: 15px;
  line-height: 23px;
}

/* line 462, ../sass/page.scss */
.btn.btn-inverse {
  background-color: #2b2f30;
}

/* line 466, ../sass/page.scss */
#notify {
  position: absolute;
  right: 0;
  bottom: 70px;
  width: 360px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-top: 2px solid #34495e;
  color: #2b2f30;
  opacity: 1;
  transition: 0.8s all ease;
}
/* line 477, ../sass/page.scss */
#notify.hidden {
  right: -360px;
  opacity: 0.5;
}

/* line 486, ../sass/page.scss */
#home #playing {
  position: absolute;
  top: 0px;
  left: 50px;
  padding: 10px 20px;
  z-index: 50;
  display: none;
}
/* line 493, ../sass/page.scss */
#home #playing h1 {
  margin: 0;
  padding: 15px 0 5px;
  color: rgba(53, 53, 53, 0.3);
  font-weight: normal;
  font-size: 30px;
}
/* line 500, ../sass/page.scss */
#home #playing h2 {
  margin: 0px 0 0px;
  color: #2b2f30;
  font-size: 23px;
  float: left;
}
/* line 506, ../sass/page.scss */
#home #playing h3 {
  font-size: 18px;
  color: rgba(46, 46, 46, 0.54);
  margin: 3px 0 0 10px;
  float: left;
}
/* line 511, ../sass/page.scss */
#home #playing h3 a {
  color: rgba(46, 46, 46, 0.54);
}

/* line 520, ../sass/page.scss */
#sidebar-first .sidebar-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
/* line 532, ../sass/page.scss */
#sidebar-first ul.album-list-small,
#sidebar-first ul.artist-search-list,
#sidebar-first ul.artist-list {
  padding: 5px 0;
}
/* line 535, ../sass/page.scss */
#sidebar-first ul.album-list-small li a,
#sidebar-first ul.artist-search-list li a,
#sidebar-first ul.artist-list li a {
  display: block;
  overflow: hidden;
  margin-bottom: 3px;
  margin-left: 3px;
  color: #6e7374;
}
/* line 541, ../sass/page.scss */
#sidebar-first ul.album-list-small li a .artist-meta,
#sidebar-first ul.artist-search-list li a .artist-meta,
#sidebar-first ul.artist-list li a .artist-meta {
  display: none;
}
/* line 544, ../sass/page.scss */
#sidebar-first ul.album-list-small li a .image,
#sidebar-first ul.artist-search-list li a .image,
#sidebar-first ul.artist-list li a .image {
  width: 45px;
  height: 40px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
/* line 550, ../sass/page.scss */
#sidebar-first ul.album-list-small li a .image img,
#sidebar-first ul.artist-search-list li a .image img,
#sidebar-first ul.artist-list li a .image img {
  width: 100%;
  display: block;
}
/* line 555, ../sass/page.scss */
#sidebar-first ul.album-list-small li a:hover,
#sidebar-first ul.artist-search-list li a:hover,
#sidebar-first ul.artist-list li a:hover {
  background: #DDD;
  color: #2b2f30;
}
/* line 559, ../sass/page.scss */
#sidebar-first ul.album-list-small li a.active,
#sidebar-first ul.artist-search-list li a.active,
#sidebar-first ul.artist-list li a.active {
  background: #6e7374;
  color: #fff;
  font-size: 110%;
}
/* line 563, ../sass/page.scss */
#sidebar-first ul.album-list-small li a.active .image,
#sidebar-first ul.artist-search-list li a.active .image,
#sidebar-first ul.artist-list li a.active .image {
  width: 120px;
  height: 110px;
}
/* line 567, ../sass/page.scss */
#sidebar-first ul.album-list-small li a.active p,
#sidebar-first ul.artist-search-list li a.active p,
#sidebar-first ul.artist-list li a.active p {
  max-width: 114px;
  overflow: hidden;
  padding-top: 5px;
}
/* line 571, ../sass/page.scss */
#sidebar-first ul.album-list-small li a.active p.artist-title,
#sidebar-first ul.artist-search-list li a.active p.artist-title,
#sidebar-first ul.artist-list li a.active p.artist-title {
  max-height: 41px;
}
/* line 575, ../sass/page.scss */
#sidebar-first ul.album-list-small li a.active .artist-meta,
#sidebar-first ul.artist-search-list li a.active .artist-meta,
#sidebar-first ul.artist-list li a.active .artist-meta {
  margin: 5px 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}
/* line 588, ../sass/page.scss */
#sidebar-first ul.album-list-small li a.active .image {
  width: 80px;
  height: 80px;
}

/* line 596, ../sass/page.scss */
.artist-fanart {
  overflow: hidden;
  height: 300px;
  margin-top: -55px;
}
/* line 600, ../sass/page.scss */
.artist-fanart img {
  width: 100%;
  margin-top: -5%;
  min-width: 600px;
}

/* line 606, ../sass/page.scss */
.artist-detail {
  padding: 8px 0;
}
/* line 608, ../sass/page.scss */
.artist-detail p {
  margin: 0;
}
/* line 612, ../sass/page.scss */
.artist-detail p.description {
  padding: 10px 10px;
}
/* line 616, ../sass/page.scss */
.artist-detail.full p.description {
  height: auto;
}
/* line 619, ../sass/page.scss */
.artist-detail.full .artist-image {
  height: auto;
}
/* line 623, ../sass/page.scss */
.artist-detail .sub-title {
  padding-left: 10px;
}
/* line 626, ../sass/page.scss */
.artist-detail .right-col {
  float: right;
  width: 100%;
  max-width: 360px;
  margin: 5px 10px 10px 15px;
}
/* line 631, ../sass/page.scss */
.artist-detail .right-col img {
  width: 100%;
}

/* Album list */
/* line 641, ../sass/page.scss */
.album-list {
  padding: 0 5px;
}

/* Album */
/* line 646, ../sass/page.scss */
.album-row {
  clear: both;
  padding: 10px 5px;
}
/* line 650, ../sass/page.scss */
.album-row .album-title {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  width: 84%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #F8F8F8;
  position: relative;
}
/* line 659, ../sass/page.scss */
.album-row .album-title:hover .album-actions-wrapper {
  display: block;
}
/* line 663, ../sass/page.scss */
.album-row .album-title a {
  color: #6e7374;
}
/* line 667, ../sass/page.scss */
.album-row .album-info {
  float: right;
  width: 16%;
  padding-bottom: 10px;
  color: #6e7374;
}
/* line 672, ../sass/page.scss */
.album-row .album-info img {
  width: 100%;
}
/* line 677, ../sass/page.scss */
.album-row .tracks {
  float: left;
  width: 84%;
}
/* line 681, ../sass/page.scss */
.album-row .album-actions-wrapper {
  position: absolute;
  right: 10px;
  display: none;
  top: 0;
}
/* line 686, ../sass/page.scss */
.album-row .album-actions-wrapper .btn {
  background: none;
  margin: 0;
  color: #bbb;
  padding-left: 8px;
  padding-right: 8px;
}

/* line 699, ../sass/page.scss */
.album-page .album-row .album-title {
  display: none;
}

/* line 706, ../sass/page.scss */
.artist-teaser .artist-header {
  display: block;
  height: 170px;
  overflow: hidden;
  background: #acaeaf;
  position: relative;
}
/* line 712, ../sass/page.scss */
.artist-teaser .artist-header img {
  width: 100%;
}
/* line 715, ../sass/page.scss */
.artist-teaser .artist-header .artist-name {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
  font-weight: normal;
  color: #eee;
  background: rgba(0, 0, 0, 0.3);
}

/* line 729, ../sass/page.scss */
#artist-tabs {
  background: #acaeaf;
  padding: 5px 5px 0 0;
  position: relative;
}
/* line 733, ../sass/page.scss */
#artist-tabs ul {
  border-bottom: none;
  margin-bottom: 5px;
}
/* line 737, ../sass/page.scss */
#artist-tabs a {
  color: #f6f6f6;
  border-radius: 2px 2px 0px 0px;
  border-color: #acaeaf;
  border-bottom-color: #fff;
}
/* line 742, ../sass/page.scss */
#artist-tabs a:hover {
  background: #6e7374;
}
/* line 747, ../sass/page.scss */
#artist-tabs li {
  margin-left: 5px;
}
/* line 750, ../sass/page.scss */
#artist-tabs li.active a {
  color: #2b2f30;
  font-weight: bold;
}
/* line 753, ../sass/page.scss */
#artist-tabs li.active a:hover {
  background: #fff;
  border-bottom-color: #fff;
}
/* line 761, ../sass/page.scss */
#artist-tabs .artist-actions {
  position: absolute;
  right: 5px;
  top: 0px;
}
/* line 765, ../sass/page.scss */
#artist-tabs .artist-actions .btn {
  background: #acaeaf;
  padding: 10px 13px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  float: left;
  color: #f6f6f6;
}
/* line 771, ../sass/page.scss */
#artist-tabs .artist-actions .btn:hover {
  background: #6e7374;
}

/* Track listing */
/* line 781, ../sass/page.scss */
.song-list {
  padding: 0 0px;
}
/* line 783, ../sass/page.scss */
.song-list li {
  position: relative;
}
/* line 785, ../sass/page.scss */
.song-list li .song-actions-wrapper {
  display: none;
}
/* line 787, ../sass/page.scss */
.song-list li .song-actions-wrapper .btn {
  position: absolute;
  top: 0;
  background: rgba(250, 250, 250, 0.4);
  z-index: 5;
  color: #999;
  margin: 0;
  float: left;
  padding: 6px 12px 6px;
  margin-right: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 800, ../sass/page.scss */
.song-list li .song-actions-wrapper .btn:hover {
  color: #333;
  background: white;
}
/* line 804, ../sass/page.scss */
.song-list li .song-actions-wrapper .btn.song-play {
  left: 0;
  background: #FAFAFA;
}
/* line 809, ../sass/page.scss */
.song-list li .song-actions-wrapper .btn.song-add {
  right: 19px;
}
/* line 812, ../sass/page.scss */
.song-list li .song-actions-wrapper .btn.song-menu {
  right: 0px;
}
/* line 817, ../sass/page.scss */
.song-list li .track {
  border-bottom: 1px solid #F0F0F0;
  color: #acaeaf;
  height: 35px;
  background: rgba(255, 255, 255, 0.84);
  margin-right: 0px;
}
/* line 823, ../sass/page.scss */
.song-list li .track .track-col {
  float: left;
  height: 35px;
  padding: 5px;
  width: 5%;
  line-height: 26px;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 831, ../sass/page.scss */
.song-list li .track .track-col a {
  color: #acaeaf;
}
/* line 833, ../sass/page.scss */
.song-list li .track .track-col a:hover {
  color: #3b3f40;
}
/* line 837, ../sass/page.scss */
.song-list li .track .track-col.song-duration {
  width: 6%;
}
/* line 840, ../sass/page.scss */
.song-list li .track .track-col.song-title {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 83%;
  overflow: hidden;
  color: #2b2f30;
  font-size: 13px;
}
/* line 847, ../sass/page.scss */
.song-list li .track .track-col.song-artist {
  width: 24%;
  overflow: hidden;
  color: #2b2f30;
  font-size: 12px;
  display: none;
}
/* line 858, ../sass/page.scss */
.song-list li .track.playing-row, .song-list li .track.active-row, .song-list li .track:hover {
  background: #FAFAFA;
}
/* line 860, ../sass/page.scss */
.song-list li .track.playing-row .song-actions-wrapper, .song-list li .track.active-row .song-actions-wrapper, .song-list li .track:hover .song-actions-wrapper {
  display: block;
}
/* line 863, ../sass/page.scss */
.song-list li .track.playing-row .song-artist, .song-list li .track.active-row .song-artist, .song-list li .track:hover .song-artist {
  display: block;
}
/* line 866, ../sass/page.scss */
.song-list li .track.playing-row .song-title, .song-list li .track.active-row .song-title, .song-list li .track:hover .song-title {
  width: 59%;
  cursor: pointer;
}
/* line 873, ../sass/page.scss */
.song-list li .track.playing-row .song-actions-wrapper .song-play {
  display: none;
}
/* line 879, ../sass/page.scss */
.song-list li .track.playing-row {
  background: #eeeff0;
}
/* line 881, ../sass/page.scss */
.song-list li .track.playing-row .song-tracknum {
  background: url(../images/ledlevel-1.gif) 30% 40% no-repeat;
  text-indent: -999999px;
}
/* line 887, ../sass/page.scss */
.song-list li:last-child .track {
  border-bottom: 0;
  margin-bottom: 8px;
}

/* line 894, ../sass/page.scss */
#search-songs {
  margin-top: 25px;
}

/* landing page (isotope) **/
/* line 904, ../sass/page.scss */
#main-content {
  position: relative;
}

/* line 909, ../sass/page.scss */
.album-list-landing,
.album-search-list,
.rand-list {
  margin: 0px 0 0 0px;
  padding: 5px 0 0 5px;
  position: relative;
  z-index: 0;
  min-height: 600px;
  height: 100%;
  overflow: hidden;
}
/* line 917, ../sass/page.scss */
.album-list-landing li,
.album-search-list li,
.rand-list li {
  width: 150px;
  height: 150px;
  padding: 3px;
  background: #eee;
  margin: 2px;
}
/* line 923, ../sass/page.scss */
.album-list-landing li .fanart,
.album-search-list li .fanart,
.rand-list li .fanart {
  overflow: hidden;
  position: relative;
  width: 150px;
  height: 150px;
}
/* line 928, ../sass/page.scss */
.album-list-landing li .fanart img,
.album-search-list li .fanart img,
.rand-list li .fanart img {
  position: absolute;
  width: 290px;
}
/* line 933, ../sass/page.scss */
.album-list-landing li.width2,
.album-search-list li.width2,
.rand-list li.width2 {
  width: 470px;
  height: 310px;
  float: left;
}
/* line 937, ../sass/page.scss */
.album-list-landing li.width2 a,
.album-search-list li.width2 a,
.rand-list li.width2 a {
  height: 310px;
}
/* line 940, ../sass/page.scss */
.album-list-landing li.width2 .fanart,
.album-search-list li.width2 .fanart,
.rand-list li.width2 .fanart {
  width: 310px;
  height: 310px;
}
/* line 943, ../sass/page.scss */
.album-list-landing li.width2 .fanart img,
.album-search-list li.width2 .fanart img,
.rand-list li.width2 .fanart img {
  left: -80px;
  width: 630px;
}
/* line 951, ../sass/page.scss */
.album-list-landing a,
.album-search-list a,
.rand-list a {
  display: block;
  overflow: hidden;
  height: 150px;
}
/* line 957, ../sass/page.scss */
.album-list-landing a p,
.album-search-list a p,
.rand-list a p {
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(236, 240, 241, 0.84);
  bottom: 0;
  padding: 5px;
  color: #2b2f30;
  margin: 3px;
}
/* line 967, ../sass/page.scss */
.album-list-landing a .image,
.album-search-list a .image,
.rand-list a .image {
  display: none;
}
/* line 970, ../sass/page.scss */
.album-list-landing a img,
.album-search-list a img,
.rand-list a img {
  width: 100%;
}

/* line 979, ../sass/page.scss */
.album-list-landing {
  margin-left: -260px;
}
/* line 983, ../sass/page.scss */
.album-list-landing a .image {
  display: block;
}
/* line 988, ../sass/page.scss */
.album-list-landing li.width2 {
  width: 310px;
}

/* line 994, ../sass/page.scss */
.album-search-list {
  min-height: auto;
  height: auto;
}
/* line 997, ../sass/page.scss */
.album-search-list li {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  float: left;
  margin: 0 10px 10px 0;
}
/* line 1004, ../sass/page.scss */
.album-search-list li img {
  height: 150px;
  width: auto;
}
/* line 1008, ../sass/page.scss */
.album-search-list li .image {
  display: block;
}
/* line 1011, ../sass/page.scss */
.album-search-list li p {
  position: absolute;
}

/* line 1017, ../sass/page.scss */
.section-title {
  margin: 2px;
  background: #fff;
  padding: 10px;
}

/* line 1023, ../sass/page.scss */
.playlist {
  padding: 10px;
}
/* line 1025, ../sass/page.scss */
.playlist .playlist-item-placeholder {
  height: 35px;
  background: #eee;
}
/* line 1029, ../sass/page.scss */
.playlist div.playlist-item {
  border-bottom: 1px solid #d7d8d8;
  background: #f7f7f7;
  position: relative;
}
/* line 1033, ../sass/page.scss */
.playlist div.playlist-item .actions {
  color: #ddd;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.8);
}
/* line 1036, ../sass/page.scss */
.playlist div.playlist-item .actions span {
  padding: 5px;
  cursor: pointer;
  z-index: 10;
}
/* line 1040, ../sass/page.scss */
.playlist div.playlist-item .actions span.menubtn {
  position: absolute;
  left: 5px;
  top: 6px;
}
/* line 1044, ../sass/page.scss */
.playlist div.playlist-item .actions span.menubtn:hover {
  color: #bbb;
}
/* line 1048, ../sass/page.scss */
.playlist div.playlist-item .actions span.removebtn {
  position: absolute;
  right: 5px;
  top: 6px;
}
/* line 1052, ../sass/page.scss */
.playlist div.playlist-item .actions span.removebtn:hover {
  color: #D22431;
}
/* line 1058, ../sass/page.scss */
.playlist div.playlist-item .thumb {
  display: none;
  width: 80px;
  height: 80px;
  right: 0;
  top: 0;
  position: absolute;
}
/* line 1066, ../sass/page.scss */
.playlist div.playlist-item .playlist-play {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 0 30px 0 0px;
  padding: 5px 0px 5px 20px;
  height: 24px;
  overflow: hidden;
  display: block;
  cursor: pointer;
  line-height: 24px;
  white-space: nowrap;
}
/* line 1076, ../sass/page.scss */
.playlist div.playlist-item .playlist-play:hover {
  background: #eee;
  color: #111;
}
/* line 1081, ../sass/page.scss */
.playlist div.playlist-item .playlist-meta {
  display: none;
}
/* line 1082, ../sass/page.scss */
.playlist div.playlist-item .playlist-meta a {
  font-size: 12px;
  color: #6e7374;
}
/* line 1089, ../sass/page.scss */
.playlist div.playlist-item.playing-row {
  height: 80px;
  background: #eeeff0;
  background: url(../images/ledlevel-1.gif) 5px 7px no-repeat;
  padding-left: 35px;
}
/* line 1094, ../sass/page.scss */
.playlist div.playlist-item.playing-row .playlist-play {
  padding-left: 0;
  padding-bottom: 2px;
  padding-right: 30px;
  white-space: normal;
  line-height: 19px;
  max-height: 38px;
  height: auto;
  color: #444;
}
/* line 1103, ../sass/page.scss */
.playlist div.playlist-item.playing-row .playlist-play:hover {
  background: none;
}
/* line 1107, ../sass/page.scss */
.playlist div.playlist-item.playing-row .menubtn {
  opacity: 0;
}
/* line 1110, ../sass/page.scss */
.playlist div.playlist-item.playing-row .removebtn {
  display: none;
}
/* line 1114, ../sass/page.scss */
.playlist div.playlist-item.playing-row .playlist-meta,
.playlist div.playlist-item.playing-row .thumb {
  display: block;
}

/* line 1123, ../sass/page.scss */
body.home .playlist div.playlist-item.playing-row {
  height: 120px;
}
/* line 1125, ../sass/page.scss */
body.home .playlist div.playlist-item.playing-row .thumb {
  width: 120px;
  height: 120px;
}
/* line 1129, ../sass/page.scss */
body.home .playlist div.playlist-item.playing-row .playlist-play {
  font-size: 130%;
  line-height: 25px;
  max-height: 48px;
}
/* line 1136, ../sass/page.scss */
body.home .playlist div.playlist-item.playing-row .playlist-meta a {
  font-size: 120%;
}

/* line 1146, ../sass/page.scss */
#sidebar-second .sidebar-items {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  top: 50px;
  overflow-y: auto;
}

/* Start: Recommended Isotope styles - Move */
/**** Isotope Filtering ****/
/* line 1162, ../sass/page.scss */
.isotope-item {
  z-index: 2;
}

/* line 1166, ../sass/page.scss */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
/* line 1174, ../sass/page.scss */
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

/* line 1182, ../sass/page.scss */
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

/* line 1190, ../sass/page.scss */
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
/* line 1202, ../sass/page.scss */
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
/* line 1215, ../sass/page.scss */
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
