/* line 21, ../sass/page.scss */
div, header, footer, a {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 24, ../sass/page.scss */
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 29, ../sass/page.scss */
html {
  overflow-y: scroll;
}

/* line 32, ../sass/page.scss */
.loading-box {
  font-size: 30px;
  color: #7f8c8d;
  background: #f7f7f7;
  padding: 20px 10px;
  width: 70%;
  margin: 80px auto 0 auto;
  text-align: center;
}

/* line 42, ../sass/page.scss */
.jspContainer:focus {
  outline: none;
}

/* line 45, ../sass/page.scss */
.jspVerticalBar {
  width: 20px;
}
/* line 47, ../sass/page.scss */
.jspVerticalBar .jspTrack {
  background: #d7dcdd;
}
/* line 50, ../sass/page.scss */
.jspVerticalBar .jspDrag {
  background: #b8c1c4;
}

/* line 57, ../sass/page.scss */
#header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 70px;
  width: 50px;
  background: #d7dcdd;
  z-index: 5;
}
/* line 67, ../sass/page.scss */
#header #logo {
  width: 50px;
  height: 105px;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  display: block;
  font-size: 20px;
  background: #b8c1c4;
  text-decoration: none;
}
/* line 78, ../sass/page.scss */
#header #logo span {
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -moz-transform: rotate(270deg);
  /* moz */
  -webkit-transform: rotate(270deg);
  /* Safari and Chrome */
  transform: rotate(270deg);
  margin-top: 43px;
  padding-top: 20px;
  display: block;
  font-family: helmet, helvetica, arial, san-serif;
}
/* line 90, ../sass/page.scss */
#header .mainnav {
  margin-top: 115px;
  width: 50px;
}
/* line 94, ../sass/page.scss */
#header .mainnav ul li {
  text-align: center;
  font-size: 26px;
}
/* line 97, ../sass/page.scss */
#header .mainnav ul li a {
  color: #b8c1c4;
  display: block;
  padding: 12px 0;
}
/* line 101, ../sass/page.scss */
#header .mainnav ul li a:hover {
  color: #7f8c8d;
}
/* line 106, ../sass/page.scss */
#header .mainnav ul li.active a {
  color: #606768;
}

/* line 115, ../sass/page.scss */
#main {
  margin-left: 355px;
  margin-top: 50px;
  padding-bottom: 70px;
}

/* line 121, ../sass/page.scss */
#content {
  padding: 0;
  margin-right: 360px;
}

/* line 125, ../sass/page.scss */
#page-header {
  background: rgba(236, 240, 241, 0.84);
  color: #7f8c8d;
  height: 50px;
  position: fixed;
  left: 50px;
  top: 0;
  right: 0;
  z-index: 2;
}
/* line 135, ../sass/page.scss */
#page-header h1 {
  font-weight: normal;
  margin: 0px;
  color: #606768;
  font-size: 22px;
  line-height: 50px;
  padding-left: 10px;
}
/* line 143, ../sass/page.scss */
#page-header h1 a {
  color: #b8c1c4;
  display: block;
  float: left;
  width: 290px;
  margin-right: 20px;
  height: 50px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
/* line 153, ../sass/page.scss */
#page-header h1 a:hover {
  color: #606768;
}

/* line 161, ../sass/page.scss */
#footer {
  background: #606768;
  height: 70px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
/* line 170, ../sass/page.scss */
#footer .footer-right,
#footer .footer-left {
  width: 355px;
  height: 70px;
  float: left;
  background: #6c7374;
}
/* line 176, ../sass/page.scss */
#footer .footer-right {
  float: right;
  width: 360px;
}

/* line 182, ../sass/page.scss */
#sidebar-first {
  width: 305px;
  background: #f9f9f9;
  position: fixed;
  top: 50px;
  left: 50px;
  bottom: 70px;
  z-index: 0;
}
/* line 190, ../sass/page.scss */
#sidebar-first .artist-list {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

/* line 200, ../sass/page.scss */
#sidebar-second {
  width: 360px;
  background: #d7dcdd;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
/* line 208, ../sass/page.scss */
#sidebar-second .sidebar-header {
  width: 360px;
  height: 50px;
  background: #b8c1c4;
  overflow-y: auto;
}

/* line 216, ../sass/page.scss */
#search-box {
  position: absolute;
  top: 0;
  right: 360px;
  display: none;
}
/* line 221, ../sass/page.scss */
#search-box #search {
  border: none;
  height: 30px;
  padding: 10px;
  font-size: 18px;
  color: #bbb;
  width: 200px;
  outline: none;
  background: rgba(255, 255, 255, 0.27);
}
/* line 231, ../sass/page.scss */
#search-box #search:hover, #search-box #search:focus {
  color: #7f8c8d;
  background: rgba(255, 255, 255, 0.47);
}

/* line 238, ../sass/page.scss */
.audio-library-ready #search-box {
  display: block;
}

/* line 243, ../sass/page.scss */
body {
  color: #606768;
  font-size: 14px;
}

/* line 247, ../sass/page.scss */
a {
  text-decoration: none;
}

/* line 250, ../sass/page.scss */
h2, h3, h4 {
  font-weight: normal;
  margin: 15px 0 10px;
  line-height: 1.2;
  font-size: 22px;
}

/* line 256, ../sass/page.scss */
h3 {
  line-height: 1.3;
  font-size: 19px;
}

/* line 260, ../sass/page.scss */
h4 {
  font-weight: bold;
  line-height: 1.4;
  font-size: 16px;
}

/* line 267, ../sass/page.scss */
#notify {
  position: absolute;
  right: 0;
  bottom: 70px;
  width: 360px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-top: 2px solid #34495e;
  color: #606768;
  opacity: 1;
  transition: 0.8s all ease;
}
/* line 278, ../sass/page.scss */
#notify.hidden {
  right: -360px;
  opacity: 0.5;
}

/* line 289, ../sass/page.scss */
#sidebar-first .abs {
  position: absolute;
}
/* line 295, ../sass/page.scss */
#sidebar-first ul.album-list-small,
#sidebar-first ul.artist-list {
  padding: 5px 0;
}
/* line 298, ../sass/page.scss */
#sidebar-first ul.album-list-small li a,
#sidebar-first ul.artist-list li a {
  display: block;
  overflow: hidden;
  padding: 5px;
  color: #7f8c8d;
}
/* line 303, ../sass/page.scss */
#sidebar-first ul.album-list-small li a .image,
#sidebar-first ul.artist-list li a .image {
  width: 60px;
  height: 40px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
/* line 309, ../sass/page.scss */
#sidebar-first ul.album-list-small li a .image img,
#sidebar-first ul.artist-list li a .image img {
  width: 100%;
  display: block;
}
/* line 314, ../sass/page.scss */
#sidebar-first ul.album-list-small li a:hover,
#sidebar-first ul.artist-list li a:hover {
  background: #fff;
  color: #606768;
}
/* line 318, ../sass/page.scss */
#sidebar-first ul.album-list-small li a.active,
#sidebar-first ul.artist-list li a.active {
  background: #7f8c8d;
  color: #fff;
  font-size: 120%;
}
/* line 322, ../sass/page.scss */
#sidebar-first ul.album-list-small li a.active .image,
#sidebar-first ul.artist-list li a.active .image {
  width: 120px;
  height: 110px;
}
/* line 326, ../sass/page.scss */
#sidebar-first ul.album-list-small li a.active p,
#sidebar-first ul.artist-list li a.active p {
  max-width: 160px;
  overflow: hidden;
}
/* line 335, ../sass/page.scss */
#sidebar-first ul.album-list-small li a.active .image {
  width: 80px;
  height: 80px;
}

/* line 343, ../sass/page.scss */
.artist-fanart {
  overflow: hidden;
  height: 300px;
  margin-top: -55px;
}
/* line 347, ../sass/page.scss */
.artist-fanart img {
  width: 100%;
  margin-top: -5%;
  min-width: 600px;
}

/* line 353, ../sass/page.scss */
.artist-detail {
  padding: 8px 0;
}
/* line 355, ../sass/page.scss */
.artist-detail p {
  margin: 0;
}
/* line 359, ../sass/page.scss */
.artist-detail p.description {
  padding: 10px 10px;
}
/* line 363, ../sass/page.scss */
.artist-detail.full p.description {
  height: auto;
}
/* line 366, ../sass/page.scss */
.artist-detail.full .artist-image {
  height: auto;
}
/* line 370, ../sass/page.scss */
.artist-detail .sub-title {
  padding-left: 10px;
}
/* line 373, ../sass/page.scss */
.artist-detail .right-col {
  float: right;
  width: 100%;
  max-width: 360px;
  margin: 5px 10px 10px 15px;
}
/* line 378, ../sass/page.scss */
.artist-detail .right-col img {
  width: 100%;
}

/* Album list */
/* line 388, ../sass/page.scss */
.album-list {
  padding: 0 5px;
}

/* Album */
/* line 393, ../sass/page.scss */
.album-row {
  clear: both;
  padding: 10px 5px;
}
/* line 396, ../sass/page.scss */
.album-row .album-title {
  margin: 0;
  padding: 10px;
  background: #E8ECEC;
  font-size: 17px;
  width: 79%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
/* line 404, ../sass/page.scss */
.album-row .album-title a {
  color: #7f8c8d;
}
/* line 408, ../sass/page.scss */
.album-row .album-info {
  float: right;
  width: 20%;
  padding-bottom: 10px;
  color: #7f8c8d;
}
/* line 413, ../sass/page.scss */
.album-row .album-info img {
  width: 100%;
}
/* line 418, ../sass/page.scss */
.album-row .tracks {
  float: left;
  width: 80%;
}

/* line 426, ../sass/page.scss */
.album-page .album-row .album-title {
  display: none;
}

/* line 433, ../sass/page.scss */
.artist-teaser .artist-header {
  display: block;
  height: 170px;
  overflow: hidden;
  background: #b8c1c4;
  position: relative;
}
/* line 439, ../sass/page.scss */
.artist-teaser .artist-header img {
  width: 100%;
}
/* line 442, ../sass/page.scss */
.artist-teaser .artist-header .artist-name {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
  font-weight: normal;
  color: #eee;
  background: rgba(0, 0, 0, 0.3);
}
/* line 453, ../sass/page.scss */
.artist-teaser .other-albums {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 175px;
}

/* line 462, ../sass/page.scss */
#artist-tabs {
  background: #b8c1c4;
  padding: 5px 5px 0 0;
}
/* line 465, ../sass/page.scss */
#artist-tabs ul {
  border-bottom: none;
  margin-bottom: 5px;
}
/* line 469, ../sass/page.scss */
#artist-tabs a {
  color: #f6f6f6;
  border-radius: 2px 2px 0px 0px;
  border-color: #b8c1c4;
  border-bottom-color: #fff;
}
/* line 474, ../sass/page.scss */
#artist-tabs a:hover {
  background: #7f8c8d;
}
/* line 479, ../sass/page.scss */
#artist-tabs li {
  margin-left: 5px;
}
/* line 482, ../sass/page.scss */
#artist-tabs li.active a {
  color: #606768;
  font-weight: bold;
}
/* line 485, ../sass/page.scss */
#artist-tabs li.active a:hover {
  background: #fff;
  border-bottom-color: #fff;
}

/* Track listing */
/* line 497, ../sass/page.scss */
.song-list {
  padding: 0 10px;
}
/* line 500, ../sass/page.scss */
.song-list li .track {
  border-bottom: 1px solid #F0F0F0;
  color: #b8c1c4;
  height: 35px;
}
/* line 504, ../sass/page.scss */
.song-list li .track .track-col {
  float: left;
  height: 35px;
  padding: 5px;
  width: 5%;
  line-height: 26px;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
/* line 512, ../sass/page.scss */
.song-list li .track .track-col.song-title {
  width: 80%;
  overflow: hidden;
  color: #606768;
  font-size: 14px;
}
/* line 520, ../sass/page.scss */
.song-list li:last-child .track {
  border-bottom: 0;
  margin-bottom: 8px;
}

/* landing page (isotope) **/
/* line 533, ../sass/page.scss */
#main-content {
  position: relative;
}

/* line 537, ../sass/page.scss */
.album-list-landing,
.rand-list {
  margin: 0px 0 0 0px;
  padding: 5px 0 0 5px;
  position: relative;
  z-index: 0;
  min-height: 600px;
  height: 100%;
  overflow: hidden;
  background: #f7f7f7;
}
/* line 546, ../sass/page.scss */
.album-list-landing li,
.rand-list li {
  width: 150px;
  height: 150px;
  padding: 3px;
  background: #eee;
  margin: 2px;
}
/* line 552, ../sass/page.scss */
.album-list-landing li .fanart,
.rand-list li .fanart {
  overflow: hidden;
  position: relative;
  width: 150px;
  height: 150px;
}
/* line 557, ../sass/page.scss */
.album-list-landing li .fanart img,
.rand-list li .fanart img {
  position: absolute;
  width: 290px;
}
/* line 562, ../sass/page.scss */
.album-list-landing li.width2,
.rand-list li.width2 {
  width: 470px;
  height: 310px;
  float: left;
}
/* line 566, ../sass/page.scss */
.album-list-landing li.width2 a,
.rand-list li.width2 a {
  height: 310px;
}
/* line 569, ../sass/page.scss */
.album-list-landing li.width2 .fanart,
.rand-list li.width2 .fanart {
  width: 310px;
  height: 310px;
}
/* line 572, ../sass/page.scss */
.album-list-landing li.width2 .fanart img,
.rand-list li.width2 .fanart img {
  left: -80px;
  width: 630px;
}
/* line 580, ../sass/page.scss */
.album-list-landing a,
.rand-list a {
  display: block;
  overflow: hidden;
  height: 150px;
}
/* line 586, ../sass/page.scss */
.album-list-landing a p,
.rand-list a p {
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(236, 240, 241, 0.84);
  bottom: 0;
  padding: 5px;
  color: #606768;
  margin: 3px;
}
/* line 596, ../sass/page.scss */
.album-list-landing a .image,
.rand-list a .image {
  display: none;
}
/* line 599, ../sass/page.scss */
.album-list-landing a img,
.rand-list a img {
  width: 100%;
}

/* line 608, ../sass/page.scss */
.album-list-landing {
  margin-left: -305px;
}
/* line 612, ../sass/page.scss */
.album-list-landing a .image {
  display: block;
}
/* line 617, ../sass/page.scss */
.album-list-landing li.width2 {
  width: 310px;
}

/* Start: Recommended Isotope styles - Move */
/**** Isotope Filtering ****/
/* line 628, ../sass/page.scss */
.isotope-item {
  z-index: 2;
}

/* line 632, ../sass/page.scss */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
/* line 640, ../sass/page.scss */
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

/* line 648, ../sass/page.scss */
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

/* line 656, ../sass/page.scss */
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
/* line 668, ../sass/page.scss */
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
/* line 681, ../sass/page.scss */
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
