
// helper to set the 3 major dimensions on a card
@mixin card-resize($width, $height, $heightImage){
  width: $width;
  min-width: $width;
  max-width: $width;
  height: $height;
  margin: 5px;
  float: left;
  .image {
    height: $heightImage;
    min-width: $width;
  }
  .actions-wrapper {
    height: $heightImage;
    min-width: $width;
    .btn-play {
      position: absolute;
      left: 10px;
      bottom: 9px;
      font-size: 190%;
    }
  }
}


@mixin card($size: 'small') {


  // size changes
  @if $size == 'large' { // large overrides ///////////////////

    width: $card-large-width;
    height: $card-large-height;
    .image {
      min-width: initial;
      min-height: $card-large-image-height;
      height: $card-large-image-height;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
    }
    .details {
      //position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
    }
    .actions-wrapper .play {
      bottom: 8px;
    }
    p.item-sub-sub-title {
      display: block;
    }

  } @else if $size == 'mini'{ // mini (sidebar) overrides ///////////////////

    height: $mini-img-width;
    margin: 5px 0;
    float: none;
    display: block;
    &:hover {
      //background: #eee;
      .actions-wrapper {
        opacity: 1;
      }
    }
    a {
      padding: 0;
    }
    .actions-wrapper,
    .image {
      float: left;
      width: $mini-img-width !important;
      height: $mini-img-width;
      min-width: $mini-img-width;
      margin-right: 8px;
    }
    .actions-wrapper {
      width: auto !important;
      z-index: 9;
      background: none;
      opacity: 0;
      box-shadow: 1px 0 3px rgba(0,0,0,0.2);
      margin-right: 0;
      .actions {
        margin-top: 24px;
        .btn {
          float: left;
          width: 24px;
          padding-top: 8px;
          color: #ddd;
        }
      }
      .play {
        top: 0px;
        left: 0px;
        bottom: 0;
        font-size: 100%;
        width: $mini-img-width;
        height: $mini-img-width;
        background: rgba(0,0,0,0.5);
        opacity: 0;
        color: #fff;
        &:hover {
          opacity: 1;
        }
      }

    }
    &.thumbs-up {
      .album-actions .album-thumbsup {
        color: $color-carrot;
      }
    }
    .details {
      p {
        position: relative;
        z-index: 10;
        &.item-sub-title {
          margin-right: 70px; // space for context buttons
        }
      }
    }

  } @else if $size == 'poster'{ // Video overrides //////////////////
    width: 170px;
    min-width: 170px;
    max-width: 189px;
    height: 310px;
    margin: 7px;
    .image {
      height: 252px;
    }
    .actions-wrapper {
      height:252px;
      .video-play {
        position: absolute;
        left: 10px;
        bottom: 9px;
        font-size: 190%;
      }
    }

  } @else if $size == 'poster-mini' { // Video overrides //////////////////

    @include card-resize(149px, 280px, 219px);
    margin: 5px 10px 10px 0;

  } @else if $size == 'episode' { // Video overrides //////////////////

    @include card-resize(228px, 197px, 144px);
    &.active {
      background: $color-invert-bg;
      p.item-title a {
        color: $color-invert-text;
      }
      .actions-wrapper {
        //opacity: 0.4;
      }
      p:after {
        display: none;
      }
    }

  } @else { // small (default) //////////////////////

    min-width: $card-small-width;
    height: $card-small-height;


    .image {
      min-width: $card-small-width;
      height: $card-small-image-height;
    }

  }

}





@mixin card-base {

  white-space: nowrap;
  display: inline-block;
  margin: $card-gutter;
  border-radius: 2px;
  background: #FFF;
  overflow: hidden;
  vertical-align: top;
  position: relative;
  font-weight: 300;
  cursor: default;
  @include watched-style;

  //zoom: 0.8;
  @include breakpoint($width-mobile){
    zoom: 1;
  }
  &:hover {
    .item-sub-sub-title {
      display: block;
    }
  }
  .image {
    display: block;
    background-color: #adb3b6;
    background-size: cover;
    width: 100%;
    box-shadow: inset 0 0 16px 5px rgba(0, 0, 0, 0.07);
  }

  .details {
    padding: 8px;
  }
  p {
    color: $color-light-slate;
    margin: 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    &.item-title {
      font-size: 15px;
      line-height: 17px;
      max-height: 38px;
      a {
        color: $color-light-slate;
      }
    }
    &.item-sub-sub-title,
    &.item-sub-title {
      font-size: 13px;
      line-height: 16px;
      height: 16px;
      color: #DDD;
      margin: 1px 0;
      a {
        color: #AAA;
      }
    }
    &.item-sub-sub-title {
      padding-top: 2px;
      font-style: italic;
      display: none;
      font-size: 12px;
    }



    // fadeout
    &:after {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 30px;
      content: "";
      background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255, 255, 255, 0)),color-stop(100%,#FFF));
      background-image: -webkit-linear-gradient(left,rgba(255, 255, 255, 0),#FFF);
      background-image: -moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
      background-image: -ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
      background-image: -o-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
      background: linear-gradient(to right,rgba(255, 255, 255, 0),#FFF);
    }
  }

  // hover actions
  .actions-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $card-small-height;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    width: auto !important;
    min-width: $card-small-width;
    cursor: pointer;
    @include transition(0.2s all linear);
    &:hover {
      opacity: 1;
    }
    .actions {
      margin-right: 7px;
      float: right;
    }
    button {
      color: rgba(255,255,255,0.5);
      padding: 10px 10px 6px 6px;
      &:focus,
      &:hover {
        color: #fff;
        background: none;
      }
    }
    .play {
      position: absolute;
      left: 10px;
      bottom: 10px;
      font-size: 200%;
    }
    .dropdown-menu {
      bottom: auto;
      top: 31px;
      right: 4px;
      left: auto;

    }

  }

  // generic top level
  .thumbs-up,
  &.thumbs-up {
    button.thumbs-up {
      color: $color-carrot;
    }
  }

  // generic top level
  &.watched-yes {
    button.watched-btn i.fa:before {
      content: "\f058";
      color: $color-carrot;
    }
  }

  .is-watched {
    position: absolute;
    bottom: 10px;
    z-index: 10;
    color: $color-carrot;
    //text-shadow: 0 1px 5px rgba(0,0,0,0.5);
    right: 10px;
    display: none;
    font-size: 16px;
  }
}


// Output as a helper css class
.card {
  @include card-base;
  @include card('small');
  &.card-large {
    @include card('large');
  }
}

