//resets
div, header, footer, a {
  @include box-sizing(border-box);
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
html {
  overflow-y: scroll;
}

//Typography
body {
  color: $color-darkest-xbmc;
  font-size: 13px;
  background: #FCFCFC;
}
a {
  text-decoration: none !important;
  color: $color-midnight-blue;
  color: $color-wet-asphalt;
  outline: none;
  &:focus {
    outline: none;
  }
}
h2, h3, h4 {
  font-weight: normal;
  margin: 15px 0 10px;
  line-height: 1.2;
  font-size: 22px;
}
h2 {
  color: #444;
  font-size: 28px;
  color: rgba(34, 34, 34, 0.61);
  margin-top: 8px;
}
h3 {
  line-height: 1.3;
  font-size: 19px;
  color: rgba(17, 17, 17, 0.83);
  margin-bottom: 15px;
}
h4 {
  font-weight: bold;
  line-height: 1.4;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: $line-dotted;
  color: rgba(70, 70, 70, 0.32)
}
.text-copy {
  margin: 15px 10px;
  font-size: 15px;
  line-height: 23px;
}

// page list
.page-list {
  padding: 10px 20px;
  h3 {
    margin-bottom: 5px;
  }
  p {
    margin-top: 5px;
  }
  li {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
  }
  a {
    color: $color-dark-xbmc;
    &:hover {
      color: $color-carrot;
    }
  }
}


