@mixin player-tab-active {
  background: rgba(255,255,255,0.4);
  color: $color-light-slate;
}
.active-player-tabs {
  background: #eee;
  overflow: hidden;
  margin-bottom: 5px;
  li {
    float: left;
    padding: 5px 20px;
    cursor: pointer;
    color: #777;
    &.active,
    &:hover {
      background: rgba(255,255,255,0.4);
    }
    &.active {
      @include player-tab-active;
    }
  }
}
.playlist-item-placeholder {
  height: 50px;
  background: #aaa;
}
.playlist,
.browser-playlist-song-list {
  padding: 2px;

  li.list-item,
  div.playlist-item {
    border-bottom: 1px solid $color-mist;
    background: $color-whitesmoke no-repeat;
    position: relative;
    color: $color-asbestos;
    height: 40px;
    @include transition(all 0.1s linear);
    a {
      color: #999;
    }
    .actions {
      color: #ddd;
      text-shadow: -1px -1px 0 rgba(255,255,255,0.8);
      display: none;
      span {
        padding: 5px;
        cursor: pointer;
        z-index: 10;
        &.playbtn {
          @include hover-play-button;
          width: 20px;
          height: 15px;
          padding-top: 20px;
        }
        &.removebtn {
          position: absolute;
          right: 5px;
          top: 6px;
          background: none;
          &:hover {
            color: #D22431;
          }
        }
      }
    }
    .info {
      display: none;
      padding-left: 60px;
      white-space: nowrap;
      height: 15px;
      overflow: hidden;
      font-size: 12px;
      line-height: 10px;
    }
    .repeating {
      position: absolute;
      top: 40px;
      left: 13px;
      cursor: pointer;
      display: none;
    }
    &:hover {
      background: #eee;
      color: #111;
      height: 52px;
      .actions {
        display: block;
      }
      .thumb {
        opacity: 1;
        //@include transition(all 0.1s linear);
      }
      .playlist-play {
        padding-left: 60px;
        line-height: 20px;
      }
      .info {
        display: block;

      }
    }

    .thumb {
      //display: none;
      width: 50px;
      height: 50px;
      left: 0px;
      top: 0;
      position: absolute;
      opacity: 0;
      background: $color-clouds;
      z-index: 1;
      background-size: cover;
    }
    .playlist-song-actions-wrapper {
      display: none;
    }
    .playlist-play {
      @include transition(none);
      color: $color-dark-xbmc;
      @include user-select(none);
      margin: 0 30px 0 0px;
      padding: 5px 10px 5px 15px;
      height: 30px;
      overflow: hidden;
      display: block;
      line-height: 30px;
      white-space: nowrap;
      cursor: ns-resize;
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
    }
    .playlist-meta {
      a {
        font-size: 12px;
        color: $color-asbestos;
      }
      display: none;
    }
    &.playing-row,
    &.browser-playing-row {
      @include transition(all 0.3s linear);
      height: 80px;
      background: $color-clouds;
      background: image-url('row-playing.gif') 0px 0px no-repeat;
      padding-right: 75px;
      background-color: $color-mist;
      .actions {
        display: none;
      }
      .info {
        display: block;
        padding-left: 36px;
        line-height: 15px;
        margin-top: 4px;
      }
      .playlist-play {
        padding: 9px 5px 2px 35px;
        white-space: normal;
        line-height: 19px;
        max-height: 50px;
        height: auto;
        color: #444;
        cursor: pointer;
        &:hover {
          background: none;
          padding-left: 35px;
        }
      }
      .playlist-meta {
        padding-left: 35px;
      }
      .menubtn {
        opacity: 0;
      }
      .removebtn {
        display: none;
      }
      .playlist-meta,
      .thumb {
        display: block;
      }
      .playlist-song-actions-wrapper,
      .thumb {
        top: 0;
        width: 80px;
        height: 80px;
        opacity: 1;
        right: 0;
        left: auto;
      }
      .thumb {
        box-shadow: -17px 0 10px -5px #eee;
      }
      .playlist-song-actions-wrapper {
        z-index: 3;
        background: rgba(0,0,0,0.7);
        color: #fff;
        position: absolute;
        display: block;
        opacity: 0;
        text-align: right;
        &:hover {
          opacity: 1;
        }

        .btn {
          &:focus,
          &:hover {
            background: none;
          }
          &.playlist-song-thumbsup {
            padding: 9px 2px 10px;
          }
        }
      }
    }
    &.browser-playing-row {
      background: $color-mist url(../images/icons/row-pause.png) 0 0 no-repeat;
    }
  }
  li.thumbs-up {
    .playlist-song-actions-wrapper .playlist-song-thumbsup {
      color: $color-carrot;
    }
  }
}

#thumbsup-bottom {
  display: none;
}

.custom-lists {
  a {
    .meta {
      font-size: 11px;
      color: #aaa;
      opacity: 0;
      @include transition(0.3s all linear);
    }
    &:hover {
      .meta {
        opacity: 1;
      }
    }
  }
}


.playlist-song-list {
  .playlist-actions {
    position: relative;
    top: auto;
    right: auto;
    display: block;
    margin: -10px -10px 10px;
    background: #eee;
    height: 34px;
    .dropdown-menu {
      max-width: 200px;
    }
    small {
      font-size: 13px;
      color: #B6B6B6;
      display: inline-block;
      padding: 9px 15px;
    }
  }
}
.section-playlists {
  .playlist-actions {
    display: none;
  }
}