
.channel-list {
  padding: 10px;
  .row-item {
    background: #eee;
    padding: 0;
    text-align: left;
    font-size: 20px;
    position: relative;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    .thumb-wrapper {
      float: left;
      position: relative;
      height: 50px;
      width: 50px;
      .btn,
      .thumb {
        height: 50px;
        width: 50px;
        display: block;
      }
      .btn {
        @include hover-play-button;
        width: 50px;
      }
    }
    .name {
      display: block;
      padding: 15px 10px;
      margin: 0px;
      height: 20px;
      overflow: hidden;
      color: #888;
     // float: left;
    }
    i {
      color: #bbb;
    }
    &:hover {
      .name {
        color: #444;
      }
      .channel-actions-wrapper {
        // @TODO uncomment when thumbs functionality works
        //opacity: 1;
      }
    }
  }
  .channel-actions-wrapper {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 90%;
    opacity: 0;
    background: #eee;
    @include transition(all 0.3s linear);
    .btn {
      &:hover {
        i {
          color: #888;
        }
      }
    }
  }
  @include breakpoint($width-mobile){
    padding-right: 0;
    .row-item {
      float: left;
      width: 249px;
      margin: 0 10px 10px 0;
    }
  }
}