
// Header (vertical on left of page)
#header {
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: $width-header;
  background: #FDFDFD;
  z-index: 10;
  overflow: hidden;
  @include breakpoint($width-tablet){
    z-index: 5;
    bottom: $height-footer;
    height: auto;
  }

  //logo
  #logo {
    width: $width-header;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    display: block;
    font-size: 11px;
    background: $color-dark-xbmc;
    text-decoration: none;
    @include transition(0.3s all linear);
    border-bottom: 5px solid $color-dark-xbmc;
    span {
      -ms-transform:rotate(270deg); /* IE 9 */
      -moz-transform:rotate(270deg); /* moz */
      -webkit-transform:rotate(270deg); /* Safari and Chrome */
      transform:rotate(270deg);
      margin-top: 24px;
      margin-left: 28px;
      padding-top: 0px;
      display: block;
      font-family: helmet, helvetica, arial, san-serif;

    }
    @include breakpoint($width-tablet){
      height: $height-logo;
      width: $width-header;
      font-size: 18px;
      span {
        margin-top: 62px;
        margin-left: 18px;
      }
    }
    @include breakpoint($width-small){
      height: $height-logo;
      width: $width-header;
      font-size: 18px;
      span {
        margin-top: 59px;
        margin-left: 14px;
      }
    }
  }

  .mainnav {
    margin-top: 60px;
    width: $width-header;
    ul {
      li {
        text-align: center;
        font-size: 16px;
        a {
          color: $color-asbestos;
          display: block;
          padding: 12px 0;
          &:hover {
            color: $color-dark-xbmc;
          }
        }
        &.active {
          a {
            color: #2B2F30;
            background: $color-whitesmoke;
          }
        }
      }
    }
    @include breakpoint($width-tablet){
      margin-top: $height-logo + 5;
    }
    @include breakpoint($width-small){
      ul {
        li {
          font-size: 19px;
        }
      }
    }
  }
}

// Fixed Header
body.fixed-header {
  #page-header {
    background:  rgba(59, 63, 64, 0.97);
  }
  #search-box {
    background-color: rgba(255,255,255,0.8);
  }
}

// main
#main {
  margin-left: 0;
  margin-top: $height-header;
  padding-bottom: $height-footer;
  @include breakpoint($width-tablet){
    margin-left: $width-sidebar-second-small;
  }
}

#main-content {
  position: relative;
}

// main > content
#content {
  padding: 0;
  @include breakpoint($width-tablet){
    margin-right: $width-sidebar-second-small;
  }
  &:after {
    content: "";
    clear: both;
    display: block;
    height: 20px;
  }
}

// top of page
#page-header {
  background: rgba(59, 63, 64, 0.84);
  color: $color-mist;
  height: $height-header;
  position: fixed;
  left: $width-header;
  top: 0;
  right: 0;
  z-index: 500;
  @include transition(all 0.3s linear);

  i {
    color: rgba(246, 245, 243, 0.55);
    padding-right: 5px;
    font-size: 16px;
  }
  h1 {
    font-weight: normal;
    margin: 0px;
    color: $color-mist;
    font-size: 20px;
    line-height: $height-header;
    padding-left: 20px;
    display: none;
    a {
      color: $color-asbestos;
      display: block;
      float: left;
      width: $width-sidebar-second-small - $width-header;
      padding-left: 20px;
      margin-right: 15px;
      margin-left: -20px;
      height: $height-header;
      overflow: hidden;
      position: relative;
      white-space: nowrap;
      background: rgba(255, 255, 255, 0.96);
      font-size: 17px;
      &:hover {
        //color: $color-darkest-xbmc;
      }
      i {
        color: rgba(0,0,0,0.3);
      }
    }
    span {
      color: rgba(246, 245, 243, 0.55);
      font-size: 90%;
      padding-left: 6px;
    }
    .nav-tabs {
      margin-left: -19px;
      float: left;
      border: 0;
      a {
        font-size: 16px;
        background: rgba(246, 245, 243, 0.23);
        color: #CDD2D3;
        padding: 0 20px;
        margin-left: 0;
        margin-right: 1px;
        width: auto;
        position: relative;
        &:hover,
        &.active {
          background: rgba(246, 245, 243, 0.10);
          color: #ddd;
        }
        &.active {
          background: $color-slate;
          color: #eee;
          //height: 49px;
          //border-bottom: $color-slate 1px solid;
          border-left: $color-slate 1px solid;
          &:after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: -12px;
            margin: auto 0;
            width: 0;
            height: 0;
            border: 11px solid rgba(0, 0, 0, 0);
           // border-bottom-color: #777;
          }
        }
      }
    }

  }
  .album-actions-wrapper {
    position: absolute;
    right: $width-sidebar-second-small + 265;
    top: 0;
    .btn {
      background: none;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
  .mobile-menu {
    float: right;
    li {
      float: left;
      color: #ccc;
      a {
        width: 50px;
        height: 50px;
        color: #ccc;
        text-align: center;
        line-height: 49px;
        font-size: 1.5em;
        cursor: pointer;
        display: block;
        &:hover i {
          color: #fff;
        }
      }
    }
  }
  @include breakpoint($width-tablet){
    z-index: 20;
    h1 {
      display: block;
    }
    .mobile-menu {
      display: none;
    }
  }
}

// First Sidebar (artists)
#sidebar-first {
  right: 0;
  background: $color-whitesmoke;
  position: fixed;
  top: $height-header;
  left: 0;
  bottom: $height-footer;
  z-index: 20;
  @include breakpoint($width-tablet){
    width: $width-sidebar-second-small - $width-header;
    left: $width-header;
    right: 0;
    z-index: 0;
  }
  .artist-list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  .noresult-box {
    background: none;
  }
  .sidebar-title {
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    background: #F6F5F3;
    padding: 0 0 0 20px;
    margin: 15px 0 0 0;
    a {
      color: #6E7374;
    }
  }
  .sidebar-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }
  .mini-artist-fanart {
    height: 170px;
    background-size: cover;
  }

  ul.artist-thumbs-up,
  ul.artist-search-list,
  ul.artist-list {
    padding: 5px 0;
    li {
      a {
        display: block;
        overflow: hidden;
        margin-bottom: 0px;
        margin-left: 3px;
        color: $color-asbestos;
        padding: 4px 3px 4px 5px;
        position: relative;
        .artist-meta {
          display: none;
        }
        .image {
          width: 29px;
          height: 29px;
          overflow: hidden;
          float: left;
          margin-right: 10px;
          background-size: cover;
          img {
            width: 100%;
            display: block;
          }
        }
        .play-artist {
          @include hover-play-button;
          top: 4px;
          left: 5px;
          width: 29px;
          height: 29px;
          z-index: 5;
          padding: 10px;
        }
        &:hover {
          background: #DDD;
          color: $color-darkest-xbmc;
        }
        &.active {
          background: $color-asbestos;
          color: #fff;
          font-size: 110%;
          padding-left: 5px;
          .image {
            width: 50px;
            height: 50px;
          }
          .play-artist {
            font-size: 180%;
            line-height: 3.5;
            top: 3px;
            width: 50px;
            height: 50px;
          }
          p {
            max-width: 114px;
            overflow: hidden;
            padding-top: 5px;
            &.artist-title {
              max-height: 41px;
            }
          }
          .artist-meta {
            margin: 5px 0;
            padding: 0;
            font-size: 12px;
            line-height: 1.4;
            color: rgba(255, 255, 255, 0.6);
            display: none;
          }
        }
      }
    }
  }
  // files
  .file-lists {
    li {
      position: relative;
      .file-item {
        padding: 5px 10px;
        border-bottom: 1px solid #ddd;
        color: #777;
        cursor: pointer;
        img {
          float: left;
          width: 30px;
          height: 30px;
          margin: -5px 10px 0 -10px;
        }
        &:hover {
          color: #444;
        }
      }
      &.loading {
        background-image: image-url('loader.gif');
        background-position: 98% 6px;
        background-repeat: no-repeat;
      }
      &.lowest {
        > .file-item {
          background-color: $color-dark-xbmc;
          color: #fff;
          .file-actions {
            display: block;
            .btn {
              color: #fff !important;
            }
          }
        }

        ul li {
          background-color: #f1f1f1;
        }
      }
      ul {
        padding-left: 13px;
        background: #ddd;
        li {
          border-left: 0px solid #ddd;
          background: #f9f9f9;
        }

      }
      .file-actions {
        position: absolute;
        right: 5px;
        top: 0;
        display: none;
        .btn {
          height: 30px;
          padding: 0px 7px;
          margin: 0;
          font-size: 12px;
        }
      }
      .show-actions {
        .file-actions {
          right: 30px;
          display: block;
          .btn {
            font-size: 110%;
            color: #777;
          }
        }
      }
    }
  }
  // album

  ul.album-list-small {
    li.card {
      @include card('mini');
    }
  }
  ul.artist-thumbs-up {
    li {
      a {
        padding: 1px;
        background: #fff;
        margin: 5px 0px 5px 0;
        .play-artist,
        .image {
          width: $mini-img-width;
          height: $mini-img-width;
          padding: 0px;
          margin: 0 10px 0 0;
          top: 0;
          left: 0;
        }
        .play-artist {
          padding: 24px 0;
        }
        p {
          &.artist-title {
            padding-top: 5px;
            font-size: 15px;
            line-height: 17px;
            max-height: 38px;
            color: $color-dark-xbmc;
            margin-bottom: 3px;
          }
          &.artist-meta {
            color: #AAA;
            display: block;
          }
        }
      }
    }
  }
}

// Second sidebar (playlists)
#sidebar-second {
  width: auto;
  background: #f8f8f8;
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 25;
 // height: $height-header;
  padding-bottom: $height-footer;
  display: none;

  @include breakpoint($width-tablet){
    bottom: 0;
    height: auto;
    position: fixed;
    top: 0;
    left: auto;
    width: $width-sidebar-second-small;
    padding-bottom: 0;
    display: block;
  }
  .sidebar-header {

    height: $height-header;
    background: $color-dark-xbmc;
    overflow-y: auto;
  }

  //default
  .sidebar-pane {
    display: none;
  }

  #playlist-xbmc {
    display: block;
  }

  .sidebar-pane {
    position: absolute;
    bottom: $height-footer;
    left: 0;
    right: 0;
    top: $height-header;
    overflow-y: auto;
  }
  .sidebar-header {
    position: relative;
    overflow-y: visible;
    .playlist-actions-wrapper {
      position: absolute;
      right: 0;
      top: 0;
      .btn {
        background: none;
        margin: 6px 10px 0 0;
        font-size: 130%;
        padding: 8px 10px 7px;
      }
    }
    .playlist-primary-tabs {
      li {
        float: left;
        margin: 0 0px 0 0;
        padding: 15px 10px;
        color: $color-whitesmoke;
        font-size: 105%;
        cursor: pointer;
        @include breakpoint($width-small){
          padding: 15px 22px 15px 19px;
        }
        i {
          font-size: 84%;
          margin-right: 2px;
          @include breakpoint($width-small){
            margin-right: 5px;
          }
          opacity: 0.6;
          &.fa-play {
            display: none;
          }
        }
        &:hover {
          background: rgba(255,255,255,0.1);
        }
        &.active {
          background: #F8F8F8;
          color: $color-dark-xbmc;
        }
      }
    }
  }
}


// Second sidebar - Homepage
$home-sidebar-width: $width-sidebar-second-small + 300;
body.home {
  #sidebar-second {
    @include transition(0.3s all ease-in);
    background: rgba(255,255,255,0.75);
    left: $width-header;
    @include breakpoint($width-tablet){
      left: auto;
      width: $home-sidebar-width;
    }
    .playlist div.playlist-item.playing-row {
      //background-color: $color-mist;
    }
    .playing-row {
      height: 120px;
      padding-right: 132px;
    }
    .playlist-primary-tabs {
      li {
        padding: 15px 22px 15px 19px !important;
      }
    }
  }
  #search-box {
    @include transition(0.3s all ease-in);
    left: $width-header;
    @include breakpoint($width-tablet){
      left: auto;
      right: $home-sidebar-width;
    }
    #search {
      background: rgba(255, 255, 255, 0.5);
      &:hover,
      &:focus {
        color: $color-asbestos;
        background: rgba(255, 255, 255, 0.8);
      }
    }
  }
  #footer .footer-right {
    left: $width-header;
  }
  #header {
    background: rgba(235, 236, 236, 0.84);
  }
  #page-header {
    @include breakpoint($width-tablet){
      background: none;
    }
  }
}

// Search box
#search-box {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  display: none;
  background-color: #fff;
  @include transition(all 0.3s linear);
  border-bottom: 3px solid #ccc;
  .fa-search {
    display: inline-block;
    padding: 0;
    font-size: 20px;
    opacity: 0.3;
    margin-top: 5px;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    color: #222;
  }
  #search {
    border: none;
    height: $height-header - 20px;
    padding: 10px 10px 10px 40px;
    font-size: 18px;
    color: $color-mist;
    width: 80%;
    outline: none;
    background: rgba(255, 255, 255, 0);
    color: $color-asbestos;
    &:hover,
    &:focus {
      color: $color-asbestos;
      background: rgba(255, 255, 255, 0.47);
    }
  }
  @include breakpoint($width-tablet){
    position: absolute;
    top: 0;
    right: $width-sidebar-second-small;
    left: auto;
    display: block;
    background-color: rgba(255,255,255,0.78);
    border-bottom: none;
    #search {
      width: 130px;
    }
  }
}


//notify
#notify {
  position: absolute;
  right: 0;
  bottom: $height-footer;
  width: $width-sidebar-second-small;
  padding: 10px;
  background: rgba(255,255,255,0.8);
  border-top: 2px solid $color-wet-asphalt;
  color: $color-darkest-xbmc;
  opacity: 1;
  transition: 0.8s all ease;
  &.hidden {
    right: -$width-sidebar-second-small;
    opacity: 0.5;
  }
}

#notify-wrapper {
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  width: $width-sidebar-second;
  z-index: 90;
  // @TODO this crops tall notifications and needs fixing
  height: $height-footer;
  transition: 1s all ease;
  &.hidden {
    width: 0;
    opacity: 0.8;
    overflow-x: hidden;
    #notify {
      bottom: 20px;
    }
  }
}

// body overrides
body {
  zoom: 0.9;
  @include breakpoint($width-small){
    zoom: 1;
  }
  &.no-sidebar {
    #main {
      margin-left: 0;
      @include breakpoint($width-tablet){
        margin-left: $width-header;
      }
    }
    #sidebar-first {
      display: none;
    }
  }
  &.sidebar {
    .rand-list,
    .album-list-landing {
      margin-left: 0;
    }
  }

  // responsive first sidebar
  &.section-artists {
    #content {
      display: none;
      @include breakpoint($width-tablet){
        display: block;
      }
    }
  }
  &.section-tv,
  &.section-playlist,
  &.section-movies,
  &.section-music,
  &.section-album,
  &.section-artist {
    #sidebar-first {
      display: none; 
      @include breakpoint($width-tablet){
        display: block;
      }
    }
  }

  // prevents content adding a scrollbar or being visible
  &.section-mymusic,
  &.section-mymovies,
  &.section-mytv {
    #content-wrapper {
      position: fixed;
      opacity: 0;
      @include breakpoint($width-tablet){
        position: static;
        opacity: 1;
      }
    }
  }

  // mobile-menu toggles
  &.section-playlists {
    #sidebar-second {
      display: block;
    }
    .toggle-ss {
      color: #fff !important;
    }
  }
  &.vol-open {
    #footer .footer-right {
      display: block;
    }
    .toggle-vol {
      color: #fff !important;
    }
  }
  &.section-search {
    #search-box {
      display: block;
    }
    .toggle-search {
      color: #fff !important;
    }
    #content {
      padding-top: 52px;
      @include breakpoint($width-tablet){
        padding-top: 0;
      }
    }
    #sidebar-first {
      top: 102px;
      @include breakpoint($width-tablet){
        top: 50px;
      }
    }
  }

}