
.xbmc-remote-wrapper {
  display: none;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-light-slate;
  .playing-fanart {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 360px;
    background: #3b3f40 50% 0 no-repeat;
    background-size: cover;
    @include breakpoint($width-tablet){
      bottom: $height-footer;
      right: 0;
      z-index: 1;
      background-color: #eee;
    }
  }
}

$pad-height: 145px;
$dark-bg: #262b2a;
.xbmc-remote {
  position: absolute;
  bottom: 200px;
  left: 0;
  right: 0;
 //padding-bottom: 87px;
  //background: #3b3f40;
  font-size: 1.7em;
  color: #6F7374;
  overflow: hidden;
  z-index: 501;
  @include breakpoint($width-tablet){
    width: $width-sidebar-first;
    bottom: $height-footer;
  }
  @include breakpoint($width-small){
    bottom: $height-footer;
  }
  .fa {
    background: $dark-bg;
    &:hover {
      color: #ccc;
      cursor: pointer;
    }
  }
  .main-controls {
    background: $color-light-slate;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
  }
  .direction {
    background: $dark-bg;
    height: $pad-height + 10;
    margin-top: -12px;
    @include grid-span(3,1,4,0);
    position: relative;
    z-index: 10;
    .pad {
      margin: 5px auto;
      //float: right;
      width: 240px;
      position: relative;
      text-align: center;

      .fa {
        height: $pad-height;
        position: absolute;
        top: 0;
        left: 80px;
        width: 80px;
        &.up, &.down, &.ok {
          height: $pad-height / 3;
          line-height: $pad-height / 3;
        }
        &.down {
          top: ($pad-height / 3) * 2;
        }
        &.ok {
          top: $pad-height / 3;
          font-size: 12px;
        }
        &.left {
          bottom: 0;
          left: 0;
          line-height: $pad-height;
          padding-left: 20px;
        }
        &.right {
          bottom: 0;
          right: 0;
          left: auto;
          line-height: $pad-height;
          padding-right: 20px;
        }
      }
    }
  }
  .buttons {
    @include grid-span(1,4,4,0);
    padding: 6px 8px 4px;
    .fa {
      display: block;
      padding: 10px 0;
      text-align: center;
      margin: 1px 0 5px 0;
    }
  }
  .alt-controls .row,
  .secondary-controls {
    clear: both;
    background: $dark-bg;
    height: $height-footer;
    .fa {
      width: 33%;
      padding: 0;
      line-height: $height-footer;
      font-size: 1.5em;
      text-align: center;
      float: left;
    }
  }
  .alt-controls {
    .row {
      margin: 8px 0;
    }
  }
  .playing-area {
    height: 150px;
    position: relative;
   // background: #3b3f40;
    font-size: 15px;
    color: #838b8d;
    .not-playing,
    .playing {
      padding: 10px 20px 35px;
      text-align: right;
    }
    .playing {
      background: #3b3f40 0 0 no-repeat;
      background-size: cover;
      display: none;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 24px;
     // background: rgba(255,255,255,0.2);
      z-index: 5;
    }
  }
}

body {
  &.paused,
  &.playing {
     //background: $color-light-slate;
    .xbmc-remote {
      .playing-area {
        .playing {
          display: block;
        }
        .not-playing {
          display: none;
        }
      }
    }
  }

  &.section-remote {
    #content {
      position: relative;
      z-index: -9999;
      display: none;
    }
    .xbmc-remote-wrapper {
      display: block;
    }
    #sidebar-second {
      z-index: 55;
      padding-bottom: 10px;
      margin-bottom: 85px;
      @include breakpoint($width-tablet){
        margin-bottom: 1px;
      }
    }
    #header {
      @include breakpoint($width-tablet){
        bottom: auto;
        background: rgba(255,255,255,0.7);
        a {
          i {
            color: $color-light-slate;
          }

        }
      }
    }
    #page-header {
      @include breakpoint($width-tablet){
        h1 {
          display: none;
        }
        background: none;
      }
    }
    #footer {
      height: $height-footer + 14;
      z-index: 80;
      #now-playing .song-image {
        height: 50px;
        width: 50px;
        bottom: 453px;
        margin: 0;
        position: fixed;
        z-index: 15;
      }
      .footer-right {
        top: auto;
        bottom: 110px;
        height: $height-footer;
        display: block;
        margin: 10px 20px;
        .actions-wrapper {
          display: block;
          width: 100%;
          margin: 19px 0 0;
        }
      }
      .playing-song-meta,
      .playing-song-title {
        position: fixed;
        left: 50px;
        right: 0;
        bottom: 453px;
        padding: 5px 10px;
        background: rgba(0,0,0,0.4);
        z-index: 12;
        margin: 0;
        height: 50px;
        padding-bottom: 20px;
      }
      .playing-song-meta {
        background: none;
        bottom: 438px;
        height: 18px;
        a {
          color: #ddd;
        }
      }
      .footer-left {
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 14px;
        .player-button {
          font-size: 1.8em;
          &.player-play {
            font-size: 2.4em;
          }
        }
      }
      #progress-bar.ui-slider .ui-slider-range {
        background: $color-carrot;
      }
      @include breakpoint($width-tablet){
        height: $height-footer;
        #now-playing .song-image,
        .footer-left,
        .footer-right,
        .playing-song-meta,
        .playing-song-title {
          position: static;
          //background: none;
          width: auto;
          margin: 0;
          padding-left: 0;
        }
        #now-playing .song-image {
          width: 70px;
          height: 70px;
          display: block;
          margin-right: 10px;
        }
        .playing-song-title {
          margin-top: 22px;
          height: 20px;
          padding: 0;
          background: none;
        }
        .footer-left {
          width: $width-sidebar-first-small + 30;
        }
        .footer-right {
          width: $width-sidebar-second-small;
          .actions-wrapper {
            width: $width-sidebar-second-small;
            margin: 0;
          }
        }
      }
      @include breakpoint($width-small){
        .footer-left {
          width: $width-sidebar-first;
        }
        .footer-right {
          width: $width-sidebar-second;
          .actions-wrapper {
            width: $width-sidebar-second;
          }
        }
      }
    }

  }
}