
// loading
.loading-box {
  font-size: 30px;
  color: $color-asbestos;
  background: #FAFAFA image-url('loading-box-bg.jpg') 0 bottom repeat-x;
  padding: 40px 10px 40px 10px;
  width: 70%;
  margin: 80px auto 0 auto;
  text-align: center;
  position: relative;
  //@include transition(1.5s all linear);
  animation: wave 16s infinite linear;
  -webkit-animation: wave 16s infinite linear;
}
@keyframes wave {
  0% { background-position: 0% bottom; }
  100% { background-position: 100% bottom;  }
}
@-webkit-keyframes wave {
  0% { background-position: 0 bottom; }
  100% { background-position: 100% bottom;  }
}
#files-container {
  .loading-box {
    animation: none;
    -webkit-animation: none;
  }
}

// Buttons
.btn {
  @include border-radius(0);
  background: none;
  &:hover {
    background: rgba(255,255,255,0.1);
  }
  &.btn-inverse {
    background-color: $color-darkest-xbmc;
  }
}


// dropdown tweaks
.dropdown-menu li > a:hover, .dropdown-menu li > a:active, .dropdown-menu li > a:focus {
  color: $color-dark-xbmc;
}
.footer-inner .open.dropup > .dropdown-menu {
  margin-bottom: 45px;
  bottom: 22px;
  top: auto;
  right: 0px;
  left: auto;
}
.open > .dropdown-menu {
  margin-top: 1px;
  border-radius: 0;
  border-bottom: 1px solid #E2E2E2;
  box-shadow: 1px 0 12px rgba(0, 0, 0, 0.1);
  background: rgba(255,255,255,0.98);
  li a {
    border-radius: 0;
  }
}

// jqui
.ui-widget {
  font-family: Arial,sans-serif;
}

// form
input[type="text"] {
  border-width: 1px;
  padding: 4px 5px;
  @include border-radius(4px);
}

// Dialog
.ui-dialog {
  background: $color-dark-xbmc;
  border: 0;
  border-bottom: 1px solid $color-darkest-xbmc;
  @include border-radius(3px);
  padding: 5px 10px;
  button:focus {
    outline: none;
  }
  .ui-dialog-titlebar-close,
  .ui-dialog-titlebar {
    background: none;
    border: 0;
    border-bottom: 1px solid #4C8391;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    padding-left: 10px;
  }
  .ui-dialog-titlebar-close {
    border: 0;
    padding: 1px;
    // prevent hover on x

    &:hover .ui-icon-closethick,
    &:focus .ui-icon-closethick,
    .ui-icon-closethick:hover {
      background-image: image-url('ui-icons_888888_256x240.png');
    }

  }
  .ui-dialog-titlebar,
  .form-text,
  .btn,
  .ui-dialog-titlebar-close {
    @include border-radius(0);
  }
  .ui-dialog-content {
    color: #ddd;
    padding: 12px 10px 5px;
    a {
      color: #f7f7f7;
      &:focus {
        outline: none;
      }
    }
    ul {
      li {
        padding: 6px 10px;
        cursor: pointer;
        border-bottom: 1px solid #4a4f50;
        a {
          text-decoration: none;
          padding: 6px 10px;
          display: block;
          margin: -6px -10px;
        }
        &:last-child {
          border-bottom: 0;
        }
        &:hover {
          background: rgba(255,255,255,0.05);
        }
      }
    }
    .form-text {
      padding: 7px 5px;
      border: 0;
      background: rgba(255,255,255,0.7);
      margin-top: 8px;
    }
    .btn {
      padding: 5px 10px;
      background: $color-darkest-xbmc;

    }
    p {
      color: #aaa;
    }
  }
  .ui-dialog-buttonpane {
    background: none;
    border: 0;
    padding: 10px;
    .ui-dialog-buttonset {
      float: none;
    }
    button {
      background: #131414;
      color: #fff;
      border: 0;
      &:focus {
        outline: none;
      }
    }
  }
}

.content-tabs .library-pager,
.library-pager {
  overflow: hidden;
  @include breakpoint ($width-small){
    margin-top: 8px;
  }
  span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 8px;
  }
  a {
    @include box-sizing(border-box);
    float: left;
    width: 48%;
    padding: 5px 20px;
    background: rgba(255,255,255,0.3);
    color: rgba(85, 85, 85, 0.36);
    font-size: 15px;
    text-align: center;
    &.library-next {
      float: right;
      width: 48%;
    }
    &:hover {
      background: rgba(255,255,255,0.9);
      color: rgba(85, 85, 85, 0.9);
    }
  }
}

.backstretch {
  zoom: 1.2;
  @include breakpoint($width-small){
    zoom: 1;
  }
}