
// loading
.loading-box {
  font-size: 30px;
  color: $color-asbestos;
  background: #FAFAFA image-url('loading-box-bg.jpg') 0 bottom repeat-x;
  padding: 40px 10px 40px 10px;
  width: 70%;
  margin: 80px auto 0 auto;
  text-align: center;
  position: relative;
  //@include transition(1.5s all linear);
  animation: wave 16s infinite linear;
  -webkit-animation: wave 16s infinite linear;
}
@keyframes wave {
  0% { background-position: 0% bottom; }
  100% { background-position: 100% bottom;  }
}
@-webkit-keyframes wave {
  0% { background-position: 0 bottom; }
  100% { background-position: 100% bottom;  }
}
#files-container {
  .loading-box {
    animation: none;
    -webkit-animation: none;
  }
}

// Buttons
.btn {
  @include border-radius(0);
  background: none;
  &:hover {
    background: rgba(255,255,255,0.1);
  }
  &.btn-inverse {
    background-color: $color-darkest-xbmc;
  }
}


// dropdown tweaks
.dropdown-menu li > a:hover, .dropdown-menu li > a:active, .dropdown-menu li > a:focus {
  color: $color-dark-xbmc;
}
.footer-inner .open.dropup > .dropdown-menu {
  margin-bottom: 45px;
  bottom: 22px;
  top: auto;
  right: 0px;
  left: auto;
}
.open > .dropdown-menu {
  margin-top: 1px;
  border-radius: 0;
  border-bottom: 1px solid #E2E2E2;
  box-shadow: 1px 0 12px rgba(0, 0, 0, 0.1);
  background: rgba(255,255,255,0.98);
  li a {
    border-radius: 0;
  }
}

// jqui
.ui-widget {
  font-family: Arial,sans-serif;
}

// form
input[type="text"] {
  border-width: 1px;
  padding: 4px 5px;
  @include border-radius(4px);
}

// Dialog
.ui-dialog {
  background: $color-dark-xbmc;
  border: 0;
  border-bottom: 1px solid $color-darkest-xbmc;
  @include border-radius(3px);
  padding: 5px 10px;
  button:focus {
    outline: none;
  }
  .ui-dialog-titlebar-close,
  .ui-dialog-titlebar {
    background: none;
    border: 0;
    border-bottom: 1px solid #4C8391;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    padding-left: 10px;
  }
  .ui-dialog-titlebar-close {
    border: 0;
    padding: 1px;
    // prevent hover on x

    &:hover .ui-icon-closethick,
    &:focus .ui-icon-closethick,
    .ui-icon-closethick:hover {
      background-image: image-url('ui-icons_888888_256x240.png');
    }

  }
  .ui-dialog-titlebar,
  .form-text,
  .btn,
  .ui-dialog-titlebar-close {
    @include border-radius(0);
  }
  .ui-dialog-content {
    color: #ddd;
    padding: 12px 10px 5px;
    a {
      color: #f7f7f7;
      &:focus {
        outline: none;
      }
    }
    ul {
      li {
        padding: 6px 10px;
        cursor: pointer;
        border-bottom: 1px solid #4a4f50;
        a {
          text-decoration: none;
          padding: 6px 10px;
          display: block;
          margin: -6px -10px;
        }
        &:last-child {
          border-bottom: 0;
        }
        &:hover {
          background: rgba(255,255,255,0.05);
        }
      }
    }
    .form-text {
      padding: 7px 5px;
      border: 0;
      background: rgba(255,255,255,0.7);
      margin-top: 8px;
    }
    .btn {
      padding: 5px 10px;
      background: $color-darkest-xbmc;

    }
    p {
      color: #aaa;
    }
  }
  .ui-dialog-buttonpane {
    background: none;
    border: 0;
    padding: 10px;
    .ui-dialog-buttonset {
      float: none;
    }
    button {
      background: #131414;
      color: #fff;
      border: 0;
      &:focus {
        outline: none;
      }
    }
  }
}

.content-tabs .library-pager,
.library-pager {
  overflow: hidden;
  @include breakpoint ($width-small){
    margin-top: 8px;
  }
  span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 8px;
  }
  a {
    @include box-sizing(border-box);
    float: left;
    width: 48%;
    padding: 5px 20px;
    background: rgba(255,255,255,0.3);
    color: rgba(85, 85, 85, 0.36);
    font-size: 15px;
    text-align: center;
    &.library-next {
      float: right;
      width: 48%;
    }
    &:hover {
      background: rgba(255,255,255,0.9);
      color: rgba(85, 85, 85, 0.9);
    }
  }
}

.backstretch {
  zoom: 1.2;
  @include breakpoint($width-small){
    zoom: 1;
  }
}

.dropdown-header {
  display: block;
  padding: 10px 13px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #999;
  background: #F4F4F4;
}

.filter-wrapper {
  margin: -10px 0 5px;
  padding: 0;
  background: #F6F5F3;
  @include breakpoint($width-small){
    margin: 0px 0 5px;
    background: none;
    position: fixed;
    top: 0;
    left: 330px;
    right: 610px;
    z-index: 50;
  }
  &:after {
    content:"";
    display: block;
    clear: both;
  }
  a, .btn {
    color: #444;
    padding: 14px 25px;
    @include breakpoint($width-small){
      padding: 14px 25px;
      color: #eee;
      background: rgba(255,255,255,0.05);
      &:hover {
        background: rgba(255,255,255,0.2);
      }

    }
  }
  .show-watched-btn {
    padding: 14px 16px;
    float: left;
    background: none;
    opacity: 0.5;
    font-size: 13px;
    i {
      padding: 0 !important;
    }
  }
  .links {
    float: left;
    margin-left: 0px;
    margin-top: 0px;
    a {
      float: left;

      //background: none;
      &.active {
        background: #DFDFDF;
        color: #444;
      }
    }
  }
  .sort-wrapper {
    float: right;
    margin-right: 10px;
    text-transform: capitalize;
    min-width: 180px;
    @include breakpoint($width-small){
      margin-right: 0;
    }
    .btn {
      text-transform: capitalize;
      float: right;
      i {
        padding-right: 5px;
      }
    }
  }
  .dropdown-menu {
    li {
      &:hover {
        i {
          color: #555;
        }
      }
      i {
        color: #ddd;
        padding-right: 5px;
        font-size: 110%;
        float: right;
        padding-top: 4px;
      }
    }
  }
  .sort-items-menu {
    display: none;
  }
  &.active-tab-all {
    .sort-items-menu {
      display: block;
    }
  }
}

.fixed-header {
  .filter-wrapper {
    @include breakpoint($width-small){
      .links a.active {
        background: rgba(255,255,255,0.8);
      }
    }
  }
}

.hide-watched {
  .show-watched-btn {
    opacity: 1;
    i:before {
      content: "\f111";
    }
  }
  .card.watched-yes {
    display: none !important;
  }
}

.sidebar-content {

  .links {
    margin-top: 0px;
    a {
      display: block;
      color: #4F5861;
      text-align: left;
      padding: 10px 10px 11px 20px;
      //border-bottom: 1px solid rgba(255, 255, 255, 0.44);
      &:hover {
        background: rgba(110, 115, 116, 0.10);
      }
      &.active {
        background: $color-asbestos;
        color: $color-whitesmoke;
      }
    }
    .list-heading {
      font-size: 17px;
      line-height: 45px;
      background: rgba(255, 255, 255, 0.78);
      padding: 0px 15px 0;
      color: #6E7374;
      margin-top: 10px;
      position: relative;
      i {
        font-size: 15px;
        color: rgba(0, 0, 0, 0.3);
        padding-right: 5px;
      }
      .menu {
        position: absolute;
        right: 0px;
        top: -5px;
        padding: 5px 15px;
        display: block;
        cursor: pointer;
        &:hover {
          i {
            color: #444;
          }
        }
      }
    }
  }
}

.section-music {
  #sidebar-first {
    background: #F0F0F0;
  }
  #page-header h1 a {
    background: #fafafa;
  }
}



// artist/movie/tv
.content-actions {
  position: absolute;
  right: 5px;
  top: 0px;
  .btn {
    background: none;
    padding: 10px 13px;
    @include border-radius(0);
    float: left;
    color: #f6f6f6;
    &:focus,
    &:hover {
      background: transparent;
      color: $color-dark-xbmc;
    }
  }
  &.thumbs-up {
    .fa-thumbs-up {
      color: $color-carrot;
    }
  }
}

// artist/movie/tv
.content-fanart {
  background: $color-concrete;
  overflow: hidden;
  height: 210px;
  margin-top: -#{$height-header + 10};
  cursor: pointer;
  display: none;
  @include breakpoint($width-tablet){
    height: 280px;
    display: block;
    img {
      min-width: 600px;
    }
  }
  img {
    cursor: pointer;
    width: 100%;
    @include breakpoint($width-large){
      margin-top: -3%;
    }
    min-width: 400px;
  }
  &.full-size {
    height: auto;
   // margin: 0;
    img {
      margin-top: 0%;
    }

  }
}


.inline-loading {
  padding: 20px;
  font-size: 17px;
  text-align: center;
  color: #555;
}

.view-toggles {
  background: rgba(59, 63, 64, 0.5);
  .btn {
    font-size: 15px;
    color: rgba(255,255,255,0.4);
    &.active {
      color: rgba(255,255,255,0.8);
      background: none;
    }
    &:focus,
    &:hover {
      color: #fff;
      background: none;
    }
  }
  @include breakpoint($width-tablet){
    background: none;
    margin-top: -41px;
    z-index: 10;
    float: right;
    margin-right: 10px;
    position: relative;
    .btn {
      font-size: 14px;

    }
  }
}