

// colors
$color-header: rgba(235, 236, 236, 0.4);
$color-mist: #EEE;
$color-header-mid: #9AA4AF;
$color-concrete: rgba(100, 100, 100, 0.28);
$color-asbestos: #7F8C8D;
$color-asbestos: #6E7374;
$color-clouds: #EEEFF0;
$color-silver: #BDC3C7;
$color-whitesmoke: #f7f7f7;
$color-slate: #606768;
$color-slate: #2b2f30;
$color-light-slate: #6c7374;
$color-light-slate: #3b3f40;
$color-wet-asphalt: #34495E;
$color-midnight-blue: #2C3E50;
$color-orange: #F39C12;
$color-carrot: #E67E22;
$color-green-sea: #16A085;
$color-pastel-orange: #FFD786;

//sizing
$height-logo: 105px;
$height-header: 50px;
$height-footer: 70px;
$width-header: 50px;
$width-sidebar-first-region: 280px;
$width-sidebar-first: $width-sidebar-first-region + $width-header;
$width-sidebar-second:360px;
$width-sidebar-second-small:260px;

// cards
$card-gutter: 5px;
$card-small-width: 170px;
$card-small-height: 205px;
$card-small-image-height: 170px;
$card-large-width: 370px;
$card-large-height: 400px;
$card-large-image-height: 370px;


//imports
@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.

//custom
@import "mixins";

