
//colors
$color-mist: #D7DCDD;
$color-concrete: #B8C1C4;
$color-asbestos: #7F8C8D;
$color-clouds: #ECF0F1;
$color-silver: #BDC3C7;
$color-whitesmoke: #f7f7f7;
$color-slate: #606768;
$color-light-slate: #6c7374;
$color-wet-asphalt: #34495E;
$color-midnight-blue: #2C3E50;
$color-orange: #F39C12;
$color-carrot: #E67E22;
$color-green-sea: #16A085;

