@import "base";
//@import "libs";

$height-logo: 105px;
$height-header: 50px;
$height-footer: 70px;

$width-header: 50px;
$width-sidebar-first-region: 280px;
$width-sidebar-first: $width-sidebar-first-region + $width-header;

$width-sidebar-second:360px;

//mixins @todo move
@mixin cross-browser($property, $value){
  -webkit-#{$property}: $value;
  -moz-#{$property}:$value;
  -ms-#{$property}:$value;
  -o-#{$property}:$value;
  #{$property}: $value;
}
@mixin box-sizing($value){
  @include cross-browser('box-sizing', $value);
}
@mixin border-radius($value){
  @include cross-browser('border-radius', $value);
}
@mixin transition($value){
  @include cross-browser('transition', $value);
}
@mixin user-select($value){
  @include cross-browser('user-select', $value);
}


//resets
div, header, footer, a {
  @include box-sizing(border-box);
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
html {
  overflow-y: scroll;
}
.loading-box {
  font-size: 30px;
  color: $color-asbestos;
  background: $color-whitesmoke;
  padding: 20px 10px;
  width: 70%;
  margin: 80px auto 0 auto;
  text-align: center;
}

.jspContainer:focus {
  outline: none;
}
.jspVerticalBar {
  width: 20px;
  .jspTrack {
    background: $color-mist;
  }
  .jspDrag {
    background: $color-concrete;
  }
}


//structure
#header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: $height-footer;
  width: $width-header;
  background: $color-mist;
  z-index: 5;

  //logo
  #logo {
    width: $width-header;
    height: $height-logo;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    display: block;
    font-size: 20px;
    background: $color-light-slate;
    text-decoration: none;
    span {
      -ms-transform:rotate(270deg); /* IE 9 */
      -moz-transform:rotate(270deg); /* moz */
      -webkit-transform:rotate(270deg); /* Safari and Chrome */
      transform:rotate(270deg);
      margin-top: 43px;
      padding-top: 20px;
      display: block;
      font-family: helmet, helvetica, arial, san-serif;
    }
  }

  .mainnav {
    margin-top: $height-logo + 10;
    width: $width-header;
    ul {
      li {
        text-align: center;
        font-size: 26px;
        a {
          color: $color-concrete;
          display: block;
          padding: 12px 0;
          &:hover {
            color: $color-asbestos;
          }
        }
        &.active {
          a {
            color: $color-slate;
          }
        }
      }
    }
  }
}

#main {
  margin-left: $width-sidebar-first;
  margin-top: $height-header;
  padding-bottom: $height-footer;
}

#content {
  padding: 0;
  margin-right: $width-sidebar-second;
}
#page-header {
  background: $color-header;
  color: $color-asbestos;
  height: $height-header;
  position: fixed;
  left: $width-header;
  top: 0;
  right: 0;
  z-index: 2;

  h1 {
    font-weight: normal;
    margin: 0px;
    color: $color-slate;
    font-size: 22px;
    line-height: $height-header;
    padding-left: 10px;

    a {
      color: $color-concrete;
      display: block;
      float: left;
      width: $width-sidebar-first-region - 20;
      margin-right: 20px;
      height: $height-header;
      overflow: hidden;
      position: relative;
      white-space: nowrap;
      &:hover {
        color: $color-slate;
      }
    }

  }
}

#footer {
  background: $color-slate;
  height: $height-footer;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  .footer-right,
  .footer-left {
    width: $width-sidebar-first;
    height: $height-footer;
    float: left;
    background: $color-light-slate;
    .player-button {
      width: 33.33%;
      @include box-sizing(border-box);
      padding: 15px 0;
      font-size: 2.1em;
      float: left;
      text-align: center;
      color: #979EA0;
      cursor: pointer;
      &:hover {
        color: $color-concrete;
      }
      &.player-play {
        font-size: 2.9em;
        padding: 8px 0;
      }
    }
  }
  .footer-right {
    float: right;
    width: $width-sidebar-second;
    .actions-wrapper {
      position: absolute;
      right: 0px;
      top: 25px;
      text-align: right;
      width: $width-sidebar-second;
      .player-button {
        font-size: 2em;
        padding: 3px 0;
        width: 25%;
        float: left;
      }
    }
  }
  .volume-wrapper,
  .progress-wrapper {
    background: rgba(0,0,0,0.1);
    position: absolute;
    left: $width-sidebar-first + $height-footer;
    right: $width-sidebar-second;
    top: 0;
    height: 20px;
    overflow: hidden;
  }
  .volume-wrapper {
    right: 0;
    left: auto;
    width: $width-sidebar-second;
  }
  #time {
    position: absolute;
    margin-top: 25px;
    right: $width-sidebar-second + 10px;
    top: 0;
    font-weight: bold;
    text-align: right;
    .time-cur {
      display: block;
      color: #fff;
      font-size: 15px;
      height: 20px;
    }
    .time-total {
      font-size: 12px;
    }
  }
}

#now-playing {
  font-size: 12px;
  width: $width-sidebar-first;
  margin-left: $width-sidebar-first;
  padding-top: 1px;
  .song-image {
    width: $height-footer;
    height: $height-footer;
    margin-right: 10px;
    overflow: hidden;
    float: left;
    margin-top: -1px;
    img {
      height: $height-footer;
      display: block;
    }
  }
  .playing-song-title {
    color: #fff;
    font-size: 15px;
    display: block;
    margin-top: 25px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
  }
  .song-artist {
    color: #ddd;
  }
}
#volume,
#progress-bar {
  &.ui-slider {
    @include border-radius(0);
    height: 20px;
    border: none;
    background: none;
    .ui-slider-range {
      @include border-radius(0);
      @include transition(0.3s all linear);
      background: rgba(208, 210, 213, 0.21);

    }
    .ui-slider-handle {
      @include border-radius(0);
      @include transition(0.3s all linear);
      top: 0;
      margin-left: -0.4em;
      background: rgba(208, 210, 213, 0.5);
      width: 0.8em;
      border: 0;
      cursor: pointer;
      display: none;
    }
    &:hover {
      .ui-slider-handle {
        display: block;
        background: $color-orange;
      }
    }
  }

}

body.playing {
  #header #logo {
  //  color: $color-orange;
  }
  #progress-bar {
    &.ui-slider {
      .ui-slider-range {
        background: rgba(208, 210, 213, 0.5);
      }
    }
  }

}


#sidebar-first {
  width: $width-sidebar-first - $width-header;
  background: #f9f9f9;
  position: fixed;
  top: $height-header;
  left: $width-header;
  bottom: $height-footer;
  z-index: 0;
 .artist-list {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   top: 0;
 }

}

body.no-sidebar {
  #sidebar-first {
    display: none;
  }
}

#sidebar-second {
  width: $width-sidebar-second;
  background: rgba(224, 224, 224, 0.75);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  .sidebar-header {

    height: $height-header;
    background: $color-light-slate;
    overflow-y: auto;
  }
}
$home-sidebar-width: $width-sidebar-second + 300;
body.home {
  #sidebar-second {
    @include transition(0.3s all ease-in);
    background: rgba(255,255,255,0.75);
    width: $home-sidebar-width;
    .playlist div.playlist-item.playing-row {
      //background-color: $color-mist;
    }
    .playing-row {
      height: 120px;
      padding-right: 132px;
    }
  }
  #search-box {
    @include transition(0.3s all ease-in);
    right: $home-sidebar-width;
    #search {
      background: rgba(255, 255, 255, 0.5);
      &:hover,
      &:focus {
        color: $color-asbestos;
        background: rgba(255, 255, 255, 0.8);
      }
    }
  }
  #header {
    background: rgba(235, 236, 236, 0.84);
  }
  #page-header {
    background: none;
  }
}

#search-box {
  position: absolute;
  top: 0;
  right: $width-sidebar-second;
  display: none;
  background: rgba(255, 255, 255, 0.27);
  .icon-search {
    display: inline-block;
    padding: 0;
    font-size: 20px;
    opacity: 0.3;
    text-shadow: -1px -1px 0 #FFF;
    margin-top: 5px;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
  }
  #search {
    border: none;
    height: $height-header - 20px;
    padding: 10px 10px 10px 40px;
    font-size: 18px;
    color: #bbb;
    width: 200px;
    outline: none;
    background: rgba(255, 255, 255, 0);
    &:hover,
    &:focus {
      color: $color-asbestos;
      background: rgba(255, 255, 255, 0.47);
    }
  }
}
//show when library ready
.artists-ready #search-box {
  display: block;
}

//Typography
body {
  color: $color-slate;
  font-size: 13px;
  background: #FCFCFC;
}
a {
  text-decoration: none;
}
h2, h3, h4 {
  font-weight: normal;
  margin: 15px 0 10px;
  line-height: 1.2;
  font-size: 22px;
}
h3 {
  line-height: 1.3;
  font-size: 19px;
}
h4 {
  font-weight: bold;
  line-height: 1.4;
  font-size: 16px;
}
.text-copy {
  margin: 15px 10px;
  font-size: 15px;
  line-height: 23px;
}
.btn.btn-inverse {
  background-color: $color-slate;
}
//notify
#notify {
  position: absolute;
  right: 0;
  bottom: $height-footer;
  width: $width-sidebar-second;
  padding: 10px;
  background: rgba(255,255,255,0.8);
  border-top: 2px solid $color-wet-asphalt;
  color: $color-slate;
  opacity: 1;
  transition: 0.8s all ease;
  &.hidden {
    right: -$width-sidebar-second;
    opacity: 0.5;
  }
}


//SECTIONS
#home {
  #playing {
    position: absolute;
    top: 0px;
    left: 50px;
    padding: 10px 20px;
    z-index: 50;
    display: none;
    h1 {
      margin: 0;
      padding: 15px 0 5px;
      color: rgba(53, 53, 53, 0.3);
      font-weight: normal;
      font-size: 30px;
    }
    h2 {
      margin: 0px 0 0px;
      color: $color-slate;
      font-size: 23px;
      float: left;
    }
    h3 {
      font-size: 18px;
      color: rgba(46, 46, 46, 0.54);
      margin: 3px 0 0 10px;
      float: left;
      a {
        color: rgba(46, 46, 46, 0.54);
      }
    }
  }
}

//Artists
#sidebar-first {
  .sidebar-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }


  ul.album-list-small,
  ul.artist-search-list,
  ul.artist-list {
    padding: 5px 0;
    li {
      a {
        display: block;
        overflow: hidden;
        margin-bottom: 3px;
        margin-left: 3px;
        color: $color-asbestos;
        .artist-meta {
          display: none;
        }
        .image {
          width: 45px;
          height: 40px;
          overflow: hidden;
          float: left;
          margin-right: 10px;
          img {
            width: 100%;
            display: block;
          }
        }
        &:hover {
          background: #DDD;
          color: $color-slate;
        }
        &.active {
          background: $color-asbestos;
          color: #fff;
          font-size: 110%;
          .image {
            width: 120px;
            height: 110px;
          }
          p {
            max-width: 114px;
            overflow: hidden;
            padding-top: 5px;
            &.artist-title {
              max-height: 41px;
            }
          }
          .artist-meta {
            margin: 5px 0;
            padding: 0;
            font-size: 12px;
            line-height: 1.4;
            color: rgba(255, 255, 255, 0.6);
            display: block;
          }
        }
      }
    }
  }
  ul.album-list-small {
    li a.active .image {
      width: 80px;
      height: 80px;
    }
  }
}


.artist-fanart {
  overflow: hidden;
  height: 300px;
  margin-top: -#{$height-header + 5};
  img {
    width: 100%;
    margin-top: -5%;
    min-width: 600px;
  }
}
.artist-detail {
  padding: 8px 0;
  p {
    margin: 0;

  }
  p.description {
    padding: 10px 10px;
  }
  &.full {
    p.description {
      height: auto;
    }
    .artist-image {
      height: auto;
    }
  }
  .sub-title {
    padding-left: 10px;
  }
  .right-col {
    float: right;
    width: 100%;
    max-width: 360px;
    margin: 5px 10px 10px 15px;
    img {
      width: 100%;
    }
  }
}

/* Album list */
$album-tracks-width: 84%;
$album-meta-width: 100 - $album-tracks-width;

.album-list {
  padding: 0 5px;
}

/* Album */
.album-row {
  clear: both;
  padding: 10px 5px;

  .album-title {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    width: $album-tracks-width;
    @include box-sizing(border-box);
    background: #F8F8F8;
    position: relative;
    &:hover {
      .album-actions-wrapper {
        display: block;
      }
    }
    a {
      color: $color-asbestos;
    }
  }
  .album-info {
    float: right;
    width: $album-meta-width;
    padding-bottom: 10px;
    color: $color-asbestos;
    img {
      width: 100%;
    }

  }
  .tracks {
    float: left;
    width: $album-tracks-width;
  }
  .album-actions-wrapper {
    position: absolute;
    right: 15px;
    display: none;
    top: 0;
    .btn {
      background: none;
      margin: 0;
      color: #bbb;
      padding-left: 8px;
      padding-right: 8px;
    }
  }

}

.album-page {
   .album-row {
     .album-title {
       position: relative;
       margin: -53px 15px 0 0;
       background: none;
       float: right;
       z-index: 20;
       width: 165px;
       .album-actions-wrapper {
         display: block;
         right: 45px;
       }
       .album-title-link {
         display: none;
       }
     }
   }
}

.artist-teaser {
  .artist-header {
    display: block;
    height: 170px;
    overflow: hidden;
    background: $color-concrete;
    position: relative;
    img {
      width: 100%;
    }
    .artist-name {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 10px;
      font-weight: normal;
      color: #eee;
      background: rgba(0,0,0,0.3);
    }
  }

}

#artist-tabs {
  background: $color-concrete;
  padding: 5px 5px 0 0;
  position: relative;
  ul {
    border-bottom: none;
    margin-bottom: 5px;
  }
  a {
    color: #f6f6f6;
    border-radius: 2px 2px 0px 0px;
    border-color: $color-concrete;
    border-bottom-color: #fff;
    &:hover {
      background: $color-asbestos;
      //border-color: $color-asbestos;
    }
  }
  li {
    margin-left: 5px;
    &.active {
      a {
        color: $color-slate;
        font-weight: bold;
        &:hover {
          background: #fff;
          border-bottom-color: #fff;
        }
      }
    }
  }

  .artist-actions {
    position: absolute;
    right: 5px;
    top: 0px;
    .btn {
      background: $color-concrete;
      padding: 10px 13px;
      @include border-radius(0);
      float: left;
      color: #f6f6f6;
      &:hover {
        background: $color-asbestos;
      }
    }

  }

}

/* Track listing */
.song-list {
  padding: 0 0px;
  li {
    position: relative;
    .song-actions-wrapper {
      display: none;
      .btn {
        position: absolute;
        top: 3px;

        background: #f1f1f1;
        z-index: 5;
        color: #999;
        margin: 0;
        float: left;
        padding: 6px 12px 6px;
        margin-right: 2px;
        @include border-radius(0);

        &:hover {
          color: #333;
          //background: rgba(255,255,255,1);
        }
        &.song-play {
          left: -40px;
          top: 0;
          width: 40px;
          height: 40px;
          text-align: center;
          @include box-sizing(border-box);
          //background: #FAFAFA;
        }
        &.song-add {
          right: 19px;
        }
        &.song-menu {
          right: 0px;
        }
      }
    }
    .track {
      border-bottom: 1px solid #F0F0F0;
      color: $color-concrete;
      height: 40px;
      background: rgba(255, 255, 255, 0.84);
      margin-right: 0px;
      padding-left: 40px;

      .track-col {
        float: left;
        height: 40px;
        padding: 5px;
        width: 5%;
        line-height: 29px;
        font-size: 12px;
        @include box-sizing(border-box);
        a {
          color: $color-concrete;
          &:hover {
            color: $color-light-slate;
          }
        }
        &.song-tracknum {
          width: 40px;
          position: absolute;
          left: 0;
          top: 0;
          height: 40px;
          text-align: center;
          font-size: 110%;
        }
        &.song-duration {
          width: 6%;
        }
        &.song-title {
          @include user-select(none);
          width: 83%;
          overflow: hidden;
          color: $color-slate;
          font-size: 13px;
        }
        &.song-artist {
          width: 24%;
          overflow: hidden;
          color: $color-slate;
          font-size: 12px;
          display: none;
        }
        //below toggles artist
        &.song-artist {
          display: block;
        }
        &.song-title {
          width: 59%;
          cursor: pointer;
        }
      }

      &.playing-row,
      &.active-row,
      &:hover {
        background: #f1f1f1;
        .song-actions-wrapper {
          display: block;
        }

      }
      &.playing-row {
        .song-actions-wrapper {
          .song-play {
            display: none;
          }
        }
      }

      //&.playing-row {
      //  background: $color-clouds;
      //  .song-tracknum {
      //    background: url(../images/ledlevel-1.gif) 30% 40% no-repeat;
      //    text-indent: -999999px;
      //  }
      //}
    }
    &:last-child .track {
      border-bottom: 0;
      margin-bottom: 8px;
    }
  }
}

#search-songs {
  margin-top: 0px;
}





/* landing page (isotope) **/
$imgblock-width-small: 150px;
$imgblock-width-large: 310px;

#main-content {
  position: relative;
}
.album-list-landing,
.album-search-list,
.rand-list {
  margin: 0px 0 0 0px;
  padding: 5px 0 0 5px;
  position: relative;
  z-index: 0;
  min-height: 600px;
  height: 100%;
  overflow: hidden;
  li {
    width: $imgblock-width-small;
    height: $imgblock-width-small;
    padding: 3px;
    background: #eee;
    margin: 2px;
    .fanart {
      overflow: hidden;
      position: relative;
      width: $imgblock-width-small;
      height: $imgblock-width-small;
      img {
        position: absolute;
        width: $imgblock-width-small + 140px;
      }
    }
    &.width2 {
      width: $imgblock-width-large + 160px;
      height: $imgblock-width-large;
      float: left;
      a {
        height: $imgblock-width-large;
      }
      .fanart {
        width: $imgblock-width-large;
        height: $imgblock-width-large;
        img {
          left: -80px;

          width: $imgblock-width-large + 320px;
        }
      }
    }
  }
  a {
    display: block;
    overflow: hidden;


    height: $imgblock-width-small;
    p {
      position: absolute;
      left: 0;
      right: 0;
      background: rgba(236, 240, 241, 0.84);
      bottom: 0;
      padding: 5px;
      color: $color-slate;
      margin: 3px;
    }
    .image {
      display: none;
    }
    img {
      width: 100%;
    }
    .fanart {

    }
  }
}

.album-list-landing {
  $offset: $width-sidebar-first - $width-header;
  margin-left: -$offset;
  a {
    .image {
      display: block;
    }
  }
  li {
    &.width2 {
      width: 310px;
    }
  }
}
.noresult-box {
  padding: 50px 25px;
  border: 0;
  background: rgba(241, 241, 241, 0.41);
  font-size: 120%;
  color: #ADA6A6;
  margin: 10px 0;
}

.album-search-list {
  min-height: 100%;
  height: auto;
  li {
    width: $imgblock-width-small;
    height: $imgblock-width-small;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 0 10px 10px 0;
    img {
      height: $imgblock-width-small;
      width: auto;
    }
    .image {
      display: block;
    }
    p {
      position: absolute;
    }
  }
}

.section-title {
  margin: 2px;
  background: #fff;
  padding: 10px;
}

.playlist {
  padding: 10px;
  .playlist-item-placeholder {
    height: 35px;
    background: #eee;
  }
  div.playlist-item {
    border-bottom: 1px solid $color-mist;
    background: $color-whitesmoke;
    position: relative;
    color: $color-asbestos;

    height: 40px;
    .actions {
      color: #ddd;
      text-shadow: -1px -1px 0 rgba(255,255,255,0.8);
      display: none;
      span {
        padding: 5px;
        cursor: pointer;
        z-index: 10;
        &.playbtn {
          position: absolute;
          left: 0px;
          top: 0px;
          bottom: 0;
          width: 10px;
          padding: 15px;
          opacity: 0;
          background: rgba(0,0,0,0.53);
          color: #fff;
          font-size: 11px;
          text-align: center;
          &:hover {
            opacity: 1;
          }
        }
        &.removebtn {
          position: absolute;
          right: 5px;
          top: 6px;
          background: none;
          &:hover {
            color: #D22431;
          }
        }
      }
    }
    &:hover {
      background: #eee;
      color: #111;
      .actions {
        display: block;
      }
      .thumb {
        opacity: 1;

      }
      .playlist-play {
        padding-left: 50px;
      }
    }
    .thumb {
      //display: none;
      width: 40px;
      height: 40px;
      left: 0px;
      top: 0;
      position: absolute;
      opacity: 0;
      background: $color-clouds;
    }
    .playlist-play {
      @include transition(none);
      color: $color-light-slate;
      @include user-select(none);
      margin: 0 30px 0 0px;
      padding: 5px 10px 5px 15px;
      height: 30px;
      overflow: hidden;
      display: block;
      cursor: pointer;
      line-height: 30px;
      white-space: nowrap;
    }
    .playlist-meta {
      a {
        font-size: 12px;
        color: $color-asbestos;
      }
      display: none;
    }

    &.playing-row {
      @include transition(all 0.3s linear);
      height: 80px;
      background: $color-clouds;
      background: url(../images/row-playing.gif) 0px 0px no-repeat;
      padding-right: 75px;

      .actions {
        display: none;
      }
      .playlist-play {
        padding: 9px 5px 2px 35px;
        white-space: normal;
        line-height: 19px;
        max-height: 50px;
        height: auto;
        color: #444;
        &:hover {
          background: none;
          padding-left: 35px;
        }
      }
      .playlist-meta {
        padding-left: 35px;
      }
      .menubtn {
        opacity: 0;
      }
      .removebtn {
        display: none;
      }
      .playlist-meta,
      .thumb {
        display: block;
      }
      .thumb {
        width: 80px;
        height: 80px;
        opacity: 1;
        right: 0;
        left: auto;
      }
    }
  }
}
body.home {
  .playlist {
    div.playlist-item {
      &.playing-row {
        height: 120px;
        .thumb {
          width: 120px;
          height: 120px;
        }
        .playlist-play {
          font-size: 130%;
          line-height: 25px;
          max-height: 64px;

        }
        .playlist-meta {
          font-size: 115%;
          color: $color-concrete;
          a {
            font-size: 110%;
          }
        }
      }
    }
  }
}

#sidebar-second {
  .sidebar-items {
    position: absolute;
    bottom: $height-footer;
    left: 0;
    right: 0;
    top: $height-header;
    overflow-y: auto;
  }
}



/* Start: Recommended Isotope styles - Move */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:      -o-transform, opacity;
  transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}


/* player states */
body {
  .player-play .icon-pause {
    display: none;
    margin-top: 3px;
  }
  &.paused,
  &.playing {
    .playing-row {
      //background: $color-clouds;
      .song-tracknum {
        //eq level display playing
        background: url(../images/row-playing.gif) 50% 50% no-repeat;
        text-indent: -999999px;
      }
    }
  }
  &.playing {
    .player-play {
      .icon-pause {
        display: block;
      }
      .icon-play {
        display: none;
      }
    }

  }
  &.paused {
    //eq level display paused (quiet)
    .playing-row {
      .song-tracknum {
        background: url(../images/icons/row-pause.png) 50% 50% no-repeat;
      }
    }
    ul.playlist {
      .playing-row {
        background-image: url(../images/icons/row-pause.png);
      }
    }
  }
  &.notPlaying {

  }
}