@import "base";
@import "libs";
@import "cards";

//resets
div, header, footer, a {
  @include box-sizing(border-box);
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
html {
  overflow-y: scroll;
}
.loading-box {
  font-size: 30px;
  color: $color-asbestos;
  background: $color-whitesmoke;
  padding: 20px 10px;
  width: 70%;
  margin: 80px auto 0 auto;
  text-align: center;
}

.jspContainer:focus {
  outline: none;
}
.jspVerticalBar {
  width: 20px;
  .jspTrack {
    background: $color-mist;
  }
  .jspDrag {
    background: $color-concrete;
  }
}

.btn {
  @include border-radius(0);
  background: none;
  &:hover {
    background: rgba(255,255,255,0.1);
  }
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:active, .dropdown-menu li > a:focus {
  color: $color-light-slate;
}

input[type="text"] {
  border-width: 1px;
  padding: 4px 5px;
  @include border-radius(4px);
}

.page-list {
  padding: 10px 20px;
  h3 {
    margin-bottom: 5px;
  }
  p {
    margin-top: 5px;
  }
  li {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
  }
  a {
    color: $color-light-slate;
    &:hover {
      color: $color-carrot;
    }
  }
}

//structure
#header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: $height-footer;
  width: $width-header;
  background: $color-mist;
  z-index: 5;

  //logo
  #logo {
    width: $width-header;
    height: $height-logo;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    display: block;
    font-size: 20px;
    background: $color-light-slate;
    text-decoration: none;
    span {
      -ms-transform:rotate(270deg); /* IE 9 */
      -moz-transform:rotate(270deg); /* moz */
      -webkit-transform:rotate(270deg); /* Safari and Chrome */
      transform:rotate(270deg);
      margin-top: 48px;
      padding-top: 0px;
      display: block;
      font-family: helmet, helvetica, arial, san-serif;
    }
  }

  .mainnav {
    margin-top: $height-logo + 10;
    width: $width-header;
    ul {
      li {
        text-align: center;
        font-size: 19px;
        a {
          color: $color-asbestos;
          display: block;
          padding: 12px 0;
          &:hover {
            color: $color-light-slate;
          }
        }
        &.active {
          a {
            color: $color-concrete;
          }
        }
      }
    }
  }
}
body.fixed-header {
  #page-header {
    background:  rgba(59, 63, 64, 0.97);
  }
  #search-box {
    background-color: rgba(255,255,255,0.8);
  }
}

#main {
  margin-left: $width-sidebar-second-small;
  margin-top: $height-header;
  padding-bottom: $height-footer;
}

#content {
  padding: 0;
  margin-right: $width-sidebar-second-small;
}
#page-header {
  background: rgba(59, 63, 64, 0.84);
  color: $color-mist;
  height: $height-header;
  position: fixed;
  left: $width-header;
  top: 0;
  right: 0;
  z-index: 2;
  @include transition(all 0.3s linear);

  h1 {
    font-weight: normal;
    margin: 0px;
    color: $color-mist;
    font-size: 22px;
    line-height: $height-header;
    padding-left: 20px;
    a {
      color: $color-asbestos;
      display: block;
      float: left;
      width: $width-sidebar-second-small - $width-header;
      padding-left: 20px;
      margin-right: 20px;
      margin-left: -20px;
      height: $height-header;
      overflow: hidden;
      position: relative;
      white-space: nowrap;
      background: #f0eeec;
      &:hover {
        //color: $color-slate;
      }
    }

  }
  .album-actions-wrapper {
    position: absolute;
    right: $width-sidebar-second-small + 265;
    top: 0;
    .btn {
      background: none;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
}

#footer {
  background: $color-slate;
  height: $height-footer;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  .footer-right,
  .footer-left {
    width: $width-sidebar-second-small;
    height: $height-footer;
    float: left;
    background: $color-light-slate;
    .player-button {
      width: 33.33%;
      @include box-sizing(border-box);
      padding: 19px 0;
      font-size: 1.8em;
      float: left;
      text-align: center;
      color: #979EA0;
      cursor: pointer;
      &:hover {
        color: $color-mist;
      }
      &.player-play {
        font-size: 2em;
        padding: 17px 0;
      }
    }
  }
  .footer-right {
    float: right;
    width: $width-sidebar-second-small;
    .actions-wrapper {
      position: absolute;
      right: 0px;
      top: 25px;
      text-align: right;
      width: $width-sidebar-second-small;
      .player-button {
        font-size: 2em;
        padding: 3px 0;
        width: 25%;
        float: left;
        .icon-volume-up {
          display: none;
        }
      }
    }
  }
  .volume-wrapper,
  .progress-wrapper {
    background: rgba(0,0,0,0.1);
    position: absolute;
    left: $width-sidebar-second-small + $height-footer;
    right: $width-sidebar-second-small;
    top: 0;
    height: 20px;
    overflow: hidden;
  }
  .volume-wrapper {
    right: 0;
    left: auto;
    width: $width-sidebar-second-small;
  }
  #time {
    position: absolute;
    margin-top: 25px;
    right: $width-sidebar-second-small + 10px;
    top: 0;
    font-weight: bold;
    text-align: right;
    .time-cur {
      display: block;
      color: #fff;
      font-size: 15px;
      height: 20px;
    }
    .time-total {
      font-size: 12px;
    }
  }
}

#now-playing {
  font-size: 12px;
  margin-right: $width-sidebar-second-small + 70;
  margin-left: $width-sidebar-second-small;
  padding-top: 1px;
  .song-image {
    width: $height-footer;
    height: $height-footer;
    margin-right: 10px;
    overflow: hidden;
    float: left;
    margin-top: -1px;
    img {
      height: $height-footer;
      display: block;
    }
  }
  .playing-song-title {
    color: #fff;
    font-size: 15px;
    display: block;
    margin-top: 25px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
  }
  .song-artist {
    color: #ddd;
  }
}
#volume,
#progress-bar {
  &.ui-slider {
    @include border-radius(0);
    height: 20px;
    border: none;
    background: none;
    .ui-slider-range {
      @include border-radius(0);
      @include transition(0.3s all linear);
      background: rgba(208, 210, 213, 0.21);

    }
    .ui-slider-handle {
      @include border-radius(0);
      @include transition(0.3s all linear);
      top: 0;
      margin-left: -0.4em;
      background: rgba(208, 210, 213, 0.5);
      width: 0.8em;
      border: 0;
      cursor: pointer;
      display: none;
    }
    &:hover {
      .ui-slider-handle {
        display: block;
        background: $color-orange;
      }
    }
  }

}

body.playing {
  #header #logo {
  //  color: $color-orange;
  }
  #progress-bar {
    &.ui-slider {
      .ui-slider-range {
        background: rgba(208, 210, 213, 0.5);
      }
    }
  }

}


#sidebar-first {
  width: $width-sidebar-second-small - $width-header;
  background: #f9f9f9;
  position: fixed;
  top: $height-header;
  left: $width-header;
  bottom: $height-footer;
  z-index: 0;
 .artist-list {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   top: 0;
 }

}

body.no-sidebar {
  #sidebar-first {
    display: none;
  }
}

#sidebar-second {
  width: $width-sidebar-second-small;
  background: rgba(248, 248, 248, 0.75);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  .sidebar-header {

    height: $height-header;
    background: $color-light-slate;
    overflow-y: auto;
  }
}
$home-sidebar-width: $width-sidebar-second-small + 300;
body.home {
  #sidebar-second {
    @include transition(0.3s all ease-in);
    background: rgba(255,255,255,0.75);
    width: $home-sidebar-width;
    .playlist div.playlist-item.playing-row {
      //background-color: $color-mist;
    }
    .playing-row {
      height: 120px;
      padding-right: 132px;
    }
  }
  #search-box {
    @include transition(0.3s all ease-in);
    right: $home-sidebar-width;
    #search {
      background: rgba(255, 255, 255, 0.5);
      &:hover,
      &:focus {
        color: $color-asbestos;
        background: rgba(255, 255, 255, 0.8);
      }
    }
  }
  #header {
    background: rgba(235, 236, 236, 0.84);
  }
  #page-header {
    background: none;
  }
}

#search-box {
  position: absolute;
  top: 0;
  right: $width-sidebar-second-small;
  display: none;
  background-color: rgba(255,255,255,0.78);
  @include transition(all 0.3s linear);
  .icon-search {
    display: inline-block;
    padding: 0;
    font-size: 20px;
    opacity: 0.3;
    margin-top: 5px;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    color: #222;
  }
  #search {
    border: none;
    height: $height-header - 20px;
    padding: 10px 10px 10px 40px;
    font-size: 18px;
    color: $color-mist;
    width: 130px;
    outline: none;
    background: rgba(255, 255, 255, 0);
    color: $color-asbestos;
    &:hover,
    &:focus {
      color: $color-asbestos;
      background: rgba(255, 255, 255, 0.47);
    }
  }
}
//show when library ready
.artists-ready #search-box {
  display: block;
}

//Typography
body {
  color: $color-slate;
  font-size: 13px;
  background: #FCFCFC;
}
a {
  text-decoration: none;
}
h2, h3, h4 {
  font-weight: normal;
  margin: 15px 0 10px;
  line-height: 1.2;
  font-size: 22px;
}
h3 {
  line-height: 1.3;
  font-size: 19px;
}
h4 {
  font-weight: bold;
  line-height: 1.4;
  font-size: 16px;
}
.text-copy {
  margin: 15px 10px;
  font-size: 15px;
  line-height: 23px;
}
.btn.btn-inverse {
  background-color: $color-slate;
}
//notify
#notify {
  position: absolute;
  right: 0;
  bottom: $height-footer;
  width: $width-sidebar-second-small;
  padding: 10px;
  background: rgba(255,255,255,0.8);
  border-top: 2px solid $color-wet-asphalt;
  color: $color-slate;
  opacity: 1;
  transition: 0.8s all ease;
  &.hidden {
    right: -$width-sidebar-second-small;
    opacity: 0.5;
  }
}


//SECTIONS
#home {
  #playing {
    position: absolute;
    top: 0px;
    left: 50px;
    padding: 10px 20px;
    z-index: 50;
    display: none;
    h1 {
      margin: 0;
      padding: 15px 0 5px;
      color: rgba(53, 53, 53, 0.3);
      font-weight: normal;
      font-size: 30px;
    }
    h2 {
      margin: 0px 0 0px;
      color: $color-slate;
      font-size: 23px;
      float: left;
    }
    h3 {
      font-size: 18px;
      color: rgba(46, 46, 46, 0.54);
      margin: 3px 0 0 10px;
      float: left;
      a {
        color: rgba(46, 46, 46, 0.54);
      }
    }
  }
}

//Artists
#sidebar-first {
  .noresult-box {
    background: none;
  }
  .sidebar-title {
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    background: #F0EEEC;
    padding: 0 0 0 20px;
    margin: 15px 0 0 0;
    a {
      color: #6E7374;
    }
  }
  .sidebar-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }


  ul.artist-thumbs-up,
  ul.album-list-small,
  ul.artist-search-list,
  ul.artist-list {
    padding: 5px 0;
    li {
      a {
        display: block;
        overflow: hidden;
        margin-bottom: 0px;
        margin-left: 3px;
        color: $color-asbestos;
        padding: 4px 5px 4px 5px;
        position: relative;
        .artist-meta {
          display: none;
        }
        .image {
          width: 29px;
          height: 29px;
          overflow: hidden;
          float: left;
          margin-right: 10px;
          background-size: cover;
          img {
            width: 100%;
            display: block;
          }
        }
        .play-artist {
          @include hover-play-button;
          top: 5px;
          left: 5px;
          width: 29px;
          height: 29px;
          z-index: 5;
          padding: 10px;
        }
        &:hover {
          background: #DDD;
          color: $color-slate;
        }
        &.active {
          background: $color-asbestos;
          color: #fff;
          font-size: 110%;
          .image {
            width: 50px;
            height: 50px;
          }
          .play-artist {
            font-size: 180%;
            line-height: 3.5;
            top: 4px;
            width: 50px;
            height: 50px;
          }
          p {
            max-width: 114px;
            overflow: hidden;
            padding-top: 5px;
            &.artist-title {
              max-height: 41px;
            }
          }
          .artist-meta {
            margin: 5px 0;
            padding: 0;
            font-size: 12px;
            line-height: 1.4;
            color: rgba(255, 255, 255, 0.6);
            display: none;
          }
        }
      }
    }
  }
  // files
  ul.files-list {
    li {
      position: relative;
      .file-item {
        padding: 5px 10px;
        border-bottom: 1px solid #ddd;
        color: #777;
        cursor: pointer;
        img {
          float: left;
          width: 30px;
          height: 30px;
          margin: -5px 10px 0 -10px;
        }
        &:hover {
          color: #444;
        }
      }
      &.loading {
        background-image: image-url('loader.gif');
        background-position: 98% 6px;
        background-repeat: no-repeat;
      }
      &.lowest {
        > .file-item {
          background-color: $color-light-slate;
          color: #fff;
          .file-actions {
            display: block;
            .btn {
              color: #fff !important;
            }
          }
        }

        ul {
          background-color: #f1f1f1;
        }
      }
      ul {
        padding-left: 13px;
        li {
          border-left: 2px solid #ddd;
        }

      }
      .file-actions {
        position: absolute;
        right: 5px;
        top: 0;
        display: none;
        .btn {
          height: 30px;
          padding: 0px 7px;
          margin: 0;
          font-size: 12px;
        }
      }
      .show-actions {
        .file-actions {
          right: 30px;
          display: block;
          .btn {
            font-size: 110%;
            color: #777;
          }
        }
      }
    }
  }
  // album
  ul.album-list-small {
    li a.active .image {
      width: 80px;
      height: 80px;
    }
  }
}

#content .files-list,
.files-music {
  padding: 10px;
  li.file-row {
   // overflow: hidden;
    height: 40px;
    line-height: 40px;
    margin: 1px 0;
    border-bottom: 1px solid #eee;
    position: relative;
    .file-actions .file-play,
    .thumb {
      width: 38px;
      height: 38px;
      float: left;
      margin-right: 15px;
    }
    .file-actions {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      font-size: 13px;
      display: none;
      .file-play {
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.6);
        padding: 0;
        opacity: 0;
        &:hover {
          opacity: 1;
        }

      }
      .song-menu,
      .file-add {
        position: absolute;
        right: 0;
        color: $color-concrete;
        &:hover {
          color: $color-light-slate;
        }
      }
      .file-add {
        right: 20px;
      }
      .dropdown-menu {
        width: auto;
        position: absolute;
        right: 0;
        left: auto;
        top: 35px;
      }
    }
    &:hover {
      .file-actions {
        display: block;
      }
    }
  }
}

.artist-fanart {
  overflow: hidden;
  height: 300px;
  margin-top: -#{$height-header + 5};
  cursor: pointer;
  img {
    cursor: pointer;
    width: 100%;
    margin-top: -5%;
    min-width: 600px;
  }
  &.full-size {
    height: auto;
    margin-top: 0;
  }
}
.artist-detail {
  padding: 8px 0;
  p {
    margin: 0;

  }
  p.description {
    padding: 10px 20px;
    line-height: 1.5;
    font-size: 110%;
    color: #666;
  }
  &.full {
    p.description {
      height: auto;
    }
    .artist-image {
      height: auto;
    }
  }
  .sub-title {
    padding-left: 20px;
  }
  .right-col {
    float: right;
    width: 100%;
    max-width: 360px;
    margin: 5px 10px 10px 15px;
    img {
      width: 100%;
    }
  }
}

/* Album list */
$album-tracks-width: auto;
$album-meta-width: 170px;
$album-margin-right: $album-meta-width + 10;

.album-list {
  padding: 0 5px;
}

/* Album */
.album-row {
  clear: both;
  padding: 10px 5px;
  overflow-y: hidden;
  .album-title {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    width: auto;
    @include box-sizing(border-box);
    background: #F8F8F8;
    position: relative;
    margin-right: $album-margin-right;
    a {
      color: $color-asbestos;
    }
  }
  .album-info {
    float: right;
    width: $album-meta-width;
    padding-bottom: 10px;
    color: $color-asbestos;
    .image,
    .card {
      display: block;
      width: $album-meta-width;
      margin: 0;
      padding: 0;
    }
    .details {
      display: none;
    }
  }
  .tracks {
    float: none;
    width: auto;
    margin-right: $album-margin-right;
  }
//  .album-actions-wrapper {
//    position: absolute;
//    right: 15px;
//    display: none;
//    top: 0;
//    z-index: 10;
//    .btn {
//      background: none;
//      margin: 0;
//      color: #eee;
//      padding-left: 8px;
//      padding-right: 8px;
//    }
//  }

}

.album-page {
   .album-row {
     .album-title {
       position: relative;
       margin: -53px 15px 0 0;
       background: none;
       float: right;
       z-index: 20;
       width: 165px;
       .album-title-link {
         display: none; // both shown elsewhere
       }
       .album-actions-wrapper {
         display: block;
         .thumbs-up .icon-thumbs-up {
           color: #fff;
         }
       }
     }
   }
}

.artist-teaser {
  .artist-header {
    display: block;
    max-height: 170px;
    min-height: 100px;
    overflow: hidden;
    background: $color-concrete;
    position: relative;
    img {
      width: 100%;
    }
    .artist-name {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 10px;
      font-weight: normal;
      color: #eee;
      background: rgba(0,0,0,0.3);
    }
  }

}

#artist-tabs {
  background: $color-concrete;
  padding: 0 0 0;
  position: relative;
  ul {
    border-bottom: none;
    margin-bottom: 5px;
  }
  a {
    color: #f6f6f6;
    border-radius: 0;
    border: none;
    font-size: 110%;
    padding: 11px 20px;
    &:hover {
      background: $color-asbestos;
      //border-color: $color-asbestos;
    }
  }
  li {
    margin: 0;
    &.active {
      a {
        color: $color-slate;
        font-weight: bold;
        &:hover {
          background: #fff;
          border-bottom-color: #fff;
        }
      }
    }
  }

  .artist-actions {
    position: absolute;
    right: 5px;
    top: 0px;
    .btn {
      background: none;
      padding: 10px 13px;
      @include border-radius(0);
      float: left;
      color: #f6f6f6;
      &:hover {
        background: $color-asbestos;
      }
    }
    &.thumbs-up {
      .icon-thumbs-up {
        color: $color-light-slate;
      }
    }
  }

}

/* Track listing */
.playlist-song-list,
.song-list {
  padding: 0 0px;
  position: relative;
  .list-actions {
    position: absolute;
    z-index: 10;
    top: -42px;
    right: 260px;
    .btn {
      padding: 6px 13px;
      margin-right: 3px;
      display: inline-block;
      font-size: 150%;
      border-radius: 3px;
      color: #CDD2D6;
      float: right;
      &:hover {
        color: #fff;
      }
      &:focus {
        background: none;
      }
      i {
        color: #a6abaf;
        font-size: 90%;
        padding-right: 2px;
      }
    }
  }
  li.song-row {
    position: relative;
    .song-actions-wrapper {
      display: none;
      .btn {
        position: absolute;
        top: 3px;

        background: #f1f1f1;
        z-index: 5;
        color: #999;
        margin: 0;
        float: left;
        padding: 6px 12px 6px;
        margin-right: 2px;
        @include border-radius(0);

        &:hover {
          color: #333;
          //background: rgba(255,255,255,1);
        }
        &.song-play {
          left: -40px;
          top: 0;
          width: 40px;
          height: 40px;
          text-align: center;
          @include box-sizing(border-box);
          //background: #FAFAFA;
        }
        &.song-add {
          right: 19px;
        }
        &.song-menu {
          right: 0px;
        }
        &.song-thumbsup {
          right: 48px;
        }
        &.song-remove {
          right: 80px;
          &:hover {
            color: #D22431;
          }
        }
      }
    }
    .visible-song-actions-wrapper {
      padding: 6px 12px 6px;
      position: absolute;
      top: 3px;
      right: 0;
      font-size: 14.994px;
      i {
        display: none;
        &.icon-thumbs-up {
          margin-right: 49px;
        }
      }
    }

    &.thumbs-up {
      .song-actions-wrapper .btn.song-thumbsup {
        color: $color-light-slate;
      }
      .visible-song-actions-wrapper i.icon-thumbs-up {
        display: inline-block;
      }
    }
    .track {
      border-bottom: 1px solid #F0F0F0;
      color: $color-concrete;
      height: 40px;
      background: rgba(255, 255, 255, 0.84);
      margin-right: 0px;
      padding-left: 40px;

      .track-col {
        float: left;
        height: 40px;
        padding: 5px;
        width: 5%;
        line-height: 29px;
        font-size: 12px;
        @include box-sizing(border-box);
        a {
          color: $color-concrete;
          &:hover {
            color: $color-light-slate;
          }
        }
        &.song-tracknum {
          width: 40px;
          position: absolute;
          left: 0;
          top: 0;
          height: 40px;
          text-align: center;
          font-size: 110%;

        }
        &.song-thumb {
          padding: 0;
          margin-right: 10px;
          overflow: hidden;
          img { width: 40px; }
        }
        &.song-duration {
          width: 6%;
        }
        &.song-title {
          @include user-select(none);
          width: 83%;
          overflow: hidden;
          color: $color-slate;
          font-size: 13px;
        }
        &.song-artist {
          width: 24%;
          overflow: hidden;
          color: $color-slate;
          font-size: 12px;
          display: none;
        }
        //below toggles artist
        &.song-artist {
          display: block;
        }
        &.song-title {
          width: 59%;
          cursor: pointer;
        }
      }

      &.playing-row,
      &.active-row,
      &:hover {
        background: #f1f1f1;
        .song-actions-wrapper {
          display: block;
        }

      }
      &.playing-row {
        .song-actions-wrapper {
          .song-play {
            display: none;
          }
        }
      }


      //&.playing-row {
      //  background: $color-clouds;
      //  .song-tracknum {
      //    background: url(../images/ledlevel-1.gif) 30% 40% no-repeat;
      //    text-indent: -999999px;
      //  }
      //}

      &.playlist-item {
        .track-col.song-title {
          padding-left: 15px;
        }

        .song-actions-wrapper .btn.song-play {
          background-color: rgba(0,0,0,0.6);
          color: #fff;
          font-size: 12px;
        }
      }

    }
    &:last-child .track {
      border-bottom: 0;
      margin-bottom: 8px;
    }

    &.playlist-item-placeholder {
      height: 40px;
      background-color: $color-concrete
    }
    ul.dropdown-menu {
      width: auto;
      position: absolute;
      right: 5px;
      top: 35px;
      left: auto;
      a {
        &:hover {
          color: $color-light-slate;
        }
      }
    }
  }
}
.playlist-song-list {
  padding: 10px;
}

#search-songs {
  margin-top: 0px;
  clear: both;
}

#search-addons {
  .files-list {
    clear: both;
  }
}
h3.search-heading {
  background: #eee;
  padding: 10px;
  height: 70px;
  position: relative;
  color: #B9B9B9;
  span {
    display: block;
    font-size: 27px;
    line-height: 39px;
    color: $color-light-slate;
  }
  img {
    float: left;
    width: 70px;
    height: 70px;
    padding-right: 15px;
  }
  &:after {
    content: "";
    width: 0;
    height: 0;
    border: 8px solid rgba(0, 0, 0, 0);
    border-top: 8px solid #EEE;
    position: absolute;
    bottom: -15px;
    left: 22px;
  }
}



/* landing page (freewall) **/
#main-content {
  position: relative;
}
.album-list-landing,
.album-generic-list,
.rand-list {
  @include box-sizing(border-box);
  padding: 10px 10px 10px;
  margin: 3px 0 5px 5px;
  &:after {
    content: "";
    clear: both;
    height: 10px;
    width: 100%;
  }
}

// albums list
.album-list-landing {
  li {
    // set a few as large @todo move to js
    &:nth-child(8),
    &:nth-child(18),
    &:first-child {
      @include card('large');
    }
  }
}

// artists list
$height-offset: 90;
.rand-list {
  margin-right: 5px;
  li.card.card-large {
    height: $card-large-image-height - $height-offset;
    .image {
      background-repeat: cover;
      height: $card-small-image-height + 35;
    }
    &:nth-child(4n+4),{
      //height: $card-large-image-height - $height-offset;
      width: $card-small-width + 100;
    }
  }
}

// search result card (no freewall)
.album-generic-list {
  li {
    @include card('small');
    width: $card-small-width;
    margin: 5px 15px 10px 15px;
  }
}

.album-small-row {
  position: relative;
}




body.sidebar {
  .rand-list,
  .album-list-landing {
    margin-left: 0;
  }
}
.addon-box,
.noresult-box {
  min-height: 90px;
  padding: 10px 10px;
  border: 0;
  background: rgba(241, 241, 241, 0.41);
  font-size: 120%;
  color: #797272;
  margin: 10px 0;
  display: block;
  &.empty img {
    opacity: 0.5;
  }
  img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    float: left;
  }
  span {
    padding-top: 10px;
    line-height: 25px;
    display: block;
  }
}
.addon-box {
  cursor: pointer;
  &:hover {
    background: #eee;
    color: #534c4c;
  }
}



.section-title {
  margin: 2px;
  background: #fff;
  padding: 10px;
}


.playlist,
.custom-lists {
  padding: 2px;
  .playlist-item-placeholder {
    height: 35px;
    background: #eee;
  }
  li.list-item,
  div.playlist-item {
    border-bottom: 1px solid $color-mist;
    background: $color-whitesmoke;
    position: relative;
    color: $color-asbestos;
    height: 40px;
    .actions {
      color: #ddd;
      text-shadow: -1px -1px 0 rgba(255,255,255,0.8);
      display: none;
      span {
        padding: 5px;
        cursor: pointer;
        z-index: 10;
        &.playbtn {
          @include hover-play-button;
        }
        &.removebtn {
          position: absolute;
          right: 5px;
          top: 6px;
          background: none;
          &:hover {
            color: #D22431;
          }
        }
      }
    }
    .repeating {
      position: absolute;
      top: 40px;
      left: 13px;
      cursor: pointer;
      display: none;
    }
    &:hover {
      background: #eee;
      color: #111;
      .actions {
        display: block;
      }
      .thumb {
        opacity: 1;

      }
      .playlist-play {
        padding-left: 50px;
      }
    }

    .thumb {
      //display: none;
      width: 40px;
      height: 40px;
      left: 0px;
      top: 0;
      position: absolute;
      opacity: 0;
      background: $color-clouds;
      z-index: 1;
    }
    .playlist-song-actions-wrapper {
      display: none;
    }
    .playlist-play {
      @include transition(none);
      color: $color-light-slate;
      @include user-select(none);
      margin: 0 30px 0 0px;
      padding: 5px 10px 5px 15px;
      height: 30px;
      overflow: hidden;
      display: block;
      cursor: pointer;
      line-height: 30px;
      white-space: nowrap;
    }
    .playlist-meta {
      a {
        font-size: 12px;
        color: $color-asbestos;
      }
      display: none;
    }
    &.playing-row {
      @include transition(all 0.3s linear);
      height: 80px;
      background: $color-clouds;
      background: url(../images/row-playing.gif) 0px 0px no-repeat;
      padding-right: 75px;
      background-color: $color-mist;
      .actions {
        display: none;
      }
      .playlist-play {
        padding: 9px 5px 2px 35px;
        white-space: normal;
        line-height: 19px;
        max-height: 50px;
        height: auto;
        color: #444;
        &:hover {
          background: none;
          padding-left: 35px;
        }
      }
      .playlist-meta {
        padding-left: 35px;
      }
      .menubtn {
        opacity: 0;
      }
      .removebtn {
        display: none;
      }
      .playlist-meta,
      .thumb {
        display: block;
      }
      .playlist-song-actions-wrapper,
      .thumb {
        top: 0;
        width: 80px;
        height: 80px;
        opacity: 1;
        right: 0;
        left: auto;
      }
      .playlist-song-actions-wrapper {
        z-index: 3;
        background: rgba(0,0,0,0.7);
        color: #fff;
        position: absolute;
        display: block;
        opacity: 0;
        text-align: right;
        &:hover {
          opacity: 1;
        }

        .btn {
          &:focus,
          &:hover {
            background: none;
          }
          &.playlist-song-thumbsup {
            padding: 9px 2px 10px;
          }
        }
      }
    }
  }
  li.thumbs-up {
    .playlist-song-actions-wrapper .playlist-song-thumbsup {
      color: $color-carrot;
    }
  }
}
.custom-lists {
  li.list-item {
    .name {
      padding: 5px 10px 5px 15px;;
      cursor: pointer;
      height: 30px;
      line-height: 30px;
      display: block;
    }
    a.name {
      height: 40px;
      color: $color-light-slate;
    }
    .meta {
      display: none;
      font-size: 80%;
      color: #ddd;
      padding-left: 5px;
      .list-actions {
        margin: 0 -10px -10px;
        .cbutton {
          display: inline-block;
          padding: 6px 12px;
          margin: 15px 1px 0 0;
          background: rgba(235, 236, 236, 0.4);
          color: #FFF;
          cursor: pointer;
          &:hover {
            background: $color-light-slate;
          }
        }
      }
    }
    .del {
      display: none;
    }
    &.open {
      height: auto;
      background: $color-asbestos;
      .name {
        background: $color-header;
        font-weight: bold;
        color: #fff;
      }
      .del {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
        height: 40px;
        line-height: 40px;
        color: rgba(215, 216, 216, 0.55);
        width: 40px;
        font-size: 15px;
        cursor: pointer;
        &:hover {
          color: $color-mist;
        }
      }
      .meta {
        display: inline;
      }
    }
  }
}

#sidebar-second {

  //default
  .alt-sidebar-items {
    display: none;
  }

  // custom lists
  &.alt-view {
    .alt-sidebar-items {
      display: block;
    }
    .sidebar-items {
      display: none;
    }
  }

  // xbmc playlist
  &.normal-view {
    .sidebar-items {
      display: block;
    }
    .alt-sidebar-items {
      display: none;
    }
  }

  .alt-sidebar-items,
  .sidebar-items {
    position: absolute;
    bottom: $height-footer;
    left: 0;
    right: 0;
    top: $height-header;
    overflow-y: auto;
  }
  .sidebar-header {
    position: relative;
    overflow-y: visible;
    .playlist-actions-wrapper {
      position: absolute;
      right: 0;
      top: 0;
      .btn {
        background: none;
        margin: 6px 10px 0 0;
        font-size: 130%;
        padding: 8px 10px 7px;
      }
    }
    .playlist-primary-tabs {
      li {
        float: left;
        margin: 0 5px 0 0;
        padding: 15px 15px;
        color: $color-whitesmoke;
        font-size: 112%;
        cursor: pointer;
        &:hover {
          background: rgba(255,255,255,0.1);
        }
        &.active {
          background: rgba(255, 255, 255, 0.92);
          color: $color-light-slate;
        }
      }
    }
  }
}

.open > .dropdown-menu {
  margin-top: 1px;
  border-radius: 0;
  border-bottom: 1px solid #E2E2E2;
  box-shadow: 1px 0 12px rgba(0, 0, 0, 0.1);
  background: rgba(255,255,255,0.98);
  li a {
    border-radius: 0;
  }
}



.ui-widget {
  font-family: Arial,sans-serif;
}

.ui-dialog {
  background: $color-light-slate;
  border: 0;
  border-bottom: 1px solid $color-slate;
  @include border-radius(3px);
  padding: 5px 10px;

  .ui-dialog-titlebar-close,
  .ui-dialog-titlebar {
    background: none;
    border: 0;
    border-bottom: 1px solid #4C8391;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    padding-left: 10px;
  }
  .ui-dialog-titlebar-close {
    border: 0;
    padding: 1px;
    // prevent hover on x
    &:hover .ui-icon-closethick,
    .ui-icon-closethick:hover {
      background-image: image-url('ui-icons_888888_256x240.png');
    }
  }
  .ui-dialog-titlebar,
  .form-text,
  .btn,
  .ui-dialog-titlebar-close {
    @include border-radius(0);
  }
  .ui-dialog-content {
    color: #ddd;
    padding: 12px 10px 5px;
    a {
      color: #f7f7f7;
      &:focus {
        outline: none;
      }
    }
    ul {
      li {
        padding: 6px 10px;
        cursor: pointer;
        border-bottom: 1px solid #4a4f50;
        &:last-child {
          border-bottom: 0;
        }
        &:hover {
          background: rgba(255,255,255,0.05);
        }
      }
    }
    .form-text {
      padding: 7px 5px;
      border: 0;
      background: rgba(255,255,255,0.7);
      margin-top: 8px;
    }
    .btn {
      padding: 5px 10px;
      background: $color-slate;

    }
    p {
      color: #aaa;
    }
  }
  .ui-dialog-buttonpane {
    background: none;
    border: 0;
    padding: 10px;
    .ui-dialog-buttonset {
      float: none;
    }
    button {
      background: $color-slate;
      color: #fff;
      border: 0;
      &:focus {
        outline: none;
      }
    }
  }
}


.xbmc-page {
  padding: 10px;
  #result {
    max-height: 500px;
    background: #eee;
    padding: 15px;
    overflow-y: auto;
    &.error {
      border-color: firebrick;
      background: #fff0eb;
    }
  }
  #description {
    padding: 10px;
    margin: 18px 0 18px;
    background: #eee;
    font-size: 120%;
    position: relative;
    &:before {
      content: "";
      width: 0;
      height: 0;
      border: 15px solid rgba(0, 0, 0, 0);
      border-bottom: 15px solid #EEE;
      position: absolute;
      top: -25px;
      left: 69px;
    }
  }
  #params {
    overflow: hidden;
    display: block;
  }
  .btn {
    background: $color-light-slate;
    @include border-radius(3px);

  }
  .param {
    float: left;
    margin-right: 10px;
    width: 270px;
    &.actions {
      width: auto;
      margin: 22px 0 30px 10px;
    }
    pre {
      font-size: 11px;
      line-height: 15px;
      max-height: 100px;
      overflow-y: auto;
    }
    select,
    input {
      width: 96%;
    }
    &.required {
      label {
        font-weight: bold;
      }
      input {
        border: 1px solid #111;
      }
    }
  }
  &.changelog {
    padding: 15px;
    background: #F7F7F7;
  }
}



/* player states */
body {
  &.home {
    #header {
      bottom: auto;
      padding-bottom: 10px;
    }
    .playlist {
      div.playlist-item {
        &.playing-row {
          height: 120px;
          .playlist-song-actions-wrapper,
          .thumb {
            width: 120px;
            height: 120px;
          }
          .playlist-play {
            font-size: 130%;
            line-height: 25px;
            max-height: 64px;

          }
          .playlist-meta {
            font-size: 115%;
            color: $color-concrete;
            a {
              font-size: 110%;
            }
          }
        }
      }
    }
  }
  &.no-sidebar {
    #main {
      margin-left: $width-header;
    }
  }
  &.section-artists,
  &.section-albums {
    background: #DFDFDF;
    #content {
      background: #DFDFDF;
      padding-top: 5px;
      padding-left: 5px;
    }
  }
  .player-play .icon-pause {
    display: none;
    margin-top: 3px;
  }
  &.paused,
  &.playing {
    .playing-row {
      //background: $color-clouds;
      .song-tracknum {
        //eq level display playing
        background: url(../images/row-playing.gif) 50% 50% no-repeat;
        text-indent: -999999px;
      }
    }
  }
  &.playing {
    .player-play {
      .icon-pause {
        display: block;
      }
      .icon-play {
        display: none;
      }
    }

  }
  &.paused {
    //eq level display paused (quiet)
    .playing-row {
      .song-tracknum {
        background: url(../images/icons/row-pause.png) 50% 50% no-repeat;
      }
    }
    ul.playlist {
      .playing-row {
        background-image: url(../images/icons/row-pause.png);
      }
    }
  }
  &.notPlaying {

  }

  &.muted {
    #footer .footer-right .actions-wrapper {
      .icon-volume-up {
        display: block;
      }
      .icon-volume-down {
        display: none;
      }
    }
  }

  &.random-on {
    #footer .footer-right .actions-wrapper {
      .player-random {
        color: #fff;
      }
    }
  }

  &.repeat-all {
    #footer .footer-right .actions-wrapper {
      .player-repeat {
        color: #fff;
      }
    }
  }

  &.repeat-one {
    #footer .footer-right .actions-wrapper {
      .player-repeat {
        color: #ddd;
      }
    }
    div.playlist-item.playing-row {
      .repeating {
        display: block;
      }
    }
  }

  // Files
  &.section-files {
    #page-header {
      h1 a {
        width: $width-sidebar-first;
      }
    }
    #sidebar-first {
      width: $width-sidebar-first;
    }
    #main {
      margin-left: $width-sidebar-first+ $width-header;
    }
  }

  // thumbs up, hide remove as the thumbs button does that
  &.section-thumbsup {
    .playlist-song-list li .song-actions-wrapper .btn.song-remove {
      display: none !important;
    }
  }

}





// responsive last
@import "breakpoints/responsive";